<app-preview-navbar
  [config]="{ showSearchButton: false, showOpenButton: false }"
  class="sticky top-0"
/>

<section class="p-6 flex flex-col gap-4 border-b border-gray-400">
  <header class="flex items-center gap-4">
    <img src="https://placehold.co/120x60" alt="" />

    <div class>
      <p class="article-title flex gap-2">
        <img src="https://placehold.co/20" alt="" />
        Matter {{ article?.value }}
      </p>

      <p>Description</p>
    </div>
  </header>

  <table class="border-separate border-spacing-y-1">
    <tr>
      <td><p class="text-sm text-gray-400 font-semibold">Location</p></td>

      <td>
        <p class="flex gap-2">
          <img src="https://placehold.co/20" alt="" />
          Washington
        </p>
      </td>
    </tr>

    <tr>
      <td><p class="text-sm text-gray-400 font-semibold">Status</p></td>

      <td>
        <p class="flex gap-2">
          <img src="https://placehold.co/20" alt="" />
          Open
        </p>
      </td>
    </tr>

    <tr>
      <td><p class="text-sm text-gray-400 font-semibold">Created by</p></td>

      <td>
        <p class="flex gap-2">
          <img src="https://placehold.co/20" alt="" />
          Jane Cooper, 12 Sept 2023
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <p class="text-sm text-gray-400 font-semibold">Last update by</p>
      </td>

      <td>
        <p class="flex gap-2">
          <img src="https://placehold.co/20" alt="" />
          Guy Hawkins, 8 Nov 2023
        </p>
      </td>
    </tr>

    <tr>
      <td><p class="text-sm text-gray-400 font-semibold">Closed by</p></td>

      <td>
        <p class="flex gap-2">
          <img src="https://placehold.co/20" alt="" />
          Jenny Wilson, 14 Nov 2023
        </p>
      </td>
    </tr>

    <tr>
      <td><p class="text-sm text-gray-400 font-semibold">Departments</p></td>

      <td class="flex gap-2">
        @for (department of [1, 2, 3]; track department) {
        <span class="pill text-sm text-bold border-black font-semibold">
          Flag {{ department }}
        </span>
        }
      </td>
    </tr>
  </table>
</section>

<section class="flex p-6 border-b border-gray-400 justify-between">
  <header class="flex gap-2">
    <img src="https://placehold.co/20" alt="" />

    Summarize
  </header>

  <img src="https://placehold.co/20" alt="" />
</section>

<section class="p-6 border-b border-gray-400 panel-h-full" stkPanel>
  <header id="panel-control" class="flex justify-between">
    <p class="flex gap-2">
      <img src="https://placehold.co/20" alt="" />

      Team
    </p>

    <img src="https://placehold.co/20" alt="" />
  </header>

  <main id="panel-content" class="flex flex-col gap-6">
    <section class="mt-4 w-full grid grid-cols-[160px_auto]">
      <p class="pt-3 font-semibold">Partners</p>

      <ul class="flex flex-col gap-1">
        @for (person of partners; track $index) {
        <li>
          <app-article-person-light
            [person]="person"
            class="border-none p-1"
          />
        </li>
        }
      </ul>
    </section>

    <section class="w-full grid grid-cols-[160px_auto]">
      <p class="pt-3 font-semibold">Managers</p>

      <ul class="flex flex-col gap-1">
        @for (person of managers; track $index) {
        <li>
          <app-article-person-light [person]="person" class="border-none" />
        </li>
        }
      </ul>
    </section>

    <section class="w-full grid grid-cols-[160px_auto]">
      <p class="pt-3 font-semibold">Collaborators</p>

      <ul class="flex flex-col gap-1">
        @for (person of collaborators; track $index) {
        <li>
          <app-article-person-light [person]="person" class="border-none" />
        </li>
        }
      </ul>
    </section>
  </main>
</section>

<section class="p-6 border-b border-gray-400 panel-h-full" stkPanel>
  <header id="panel-control" class="flex justify-between">
    <p class="flex gap-2">
      <img src="https://placehold.co/20" alt="" />

      Contact
    </p>

    <img src="https://placehold.co/20" alt="" />
  </header>

  <main id="panel-content" class="flex flex-col gap-6">
    <section class="mt-4 w-full grid grid-cols-[160px_auto]">
      <p class="pt-3 font-semibold">Client</p>

      <ul class="flex flex-col gap-1">
        @for (person of clients; track person.value) {
        <li>
          <app-article-person-light
            [person]="person"
            class="border-none p-1"
          />
        </li>
        }
      </ul>
    </section>

    <section class="w-full grid grid-cols-[160px_auto]">
      <p class="pt-3 font-semibold">Federal</p>

      <ul class="flex flex-col gap-1">
        @for (person of federals; track person.value) {
        <li>
          <app-article-person-light [person]="person" class="border-none" />
        </li>
        }
      </ul>
    </section>
  </main>
</section>
