<form [formGroup]="form">
  <fieldset class="overflow-auto">
    <legend class="w-full px-2 pt-2 cursor-default">
      <div class="dropdown-header">
        <p class="me-4">
          <i class="fa-fw {{ title().icon }} " aria-hidden="true"></i>
          {{ title().label }}
        </p>

        <div class="ms-4">
          @if (hasAppliedFilter()) {
          <button
            type="button"
            class="me-2"
            title="Clear filters"
            (click)="clearFilters()"
            (keydown.enter)="clearFilters()"
            aria-label="Clear filters"
          >
            <i class="fa-fw far fa-filter-circle-xmark " aria-hidden="true"></i>
          </button>
        }

          @if (hasDateFilter()) {

          <button
            type="button"
            title="Apply filters"
            (click)="submit()"
            (keydown.enter)="submit()"
            aria-label="Apply filters"
          >
            <i class="fa-fw far fa-filter " aria-hidden="true"></i>
          </button>
        }
        </div>
      </div>
    </legend>

    <ul class="data-list pt-2">
      @for (option of dateOptions(); track $index) {
      <li tabindex="0"
        [ngClass]="cn(
          'data-list-item flex px-2 leading-7',
          form.get('option')?.value === option.display && 'selected',
          option.disabled && 'disabled hidden'
        )"
        [attr.aria-hidden]="option.disabled"
      >
        <input
          #radio
          type="radio"
          formControlName="option"
          id="date-filter-{{ option.display }}"
          [attr.disabled]="option.disabled ? true : null"
          [attr.aria-disabled]="option.disabled"
          value="{{ option.display }}"/>

          <span
            class="fa-fw radio me-1 p-1 cursor-pointer"
            (click)="radio.click()"
            (keydown.enter)="radio.click()"
            tabindex="-1"></span>

            <label
            for="date-filter-{{ option.display }}"
            class="p-1 grow cursor-pointer">{{ option.display | sqMessage }}</label>
          </li>
        }
        @if(allowCustomRange) {
          <li
          class="data-list-item flex px-2 leading-7"
          [ngClass]="{'selected': form.get('option')?.value === 'custom-range'}">

          <input
            #radio
            type="radio"
            formControlName="option"
            id="date-filter-custom-range"
            value="custom-range"
            />

          <span
            class="fa-fw radio me-1 p-1 cursor-pointer"
            (click)="radio.click()"
            (keydown.enter)="radio.click()"
            tabindex="-1"></span>

            <div
              class="p-1 grow grid grid-cols-[4rem_auto] *:cursor-pointer"
              formGroupName="customRange">
              <label for="date-filter-custom-from">From</label>
              <input class="border-b border-neutral-300 text-neutral-300"
                type="date"
                id="date-filter-custom-from"
                formControlName="from"
                [max]="form.get('customRange.to')?.value ?? today"
                (click)="forceFilterToCustomRange()"
              />

              <label for="date-filter-custom-to">To</label>
              <input class="border-b border-neutral-300 text-neutral-300"
                type="date"
                id="date-filter-custom-to"
                formControlName="to"
                [min]="form.get('customRange.from')?.value"
                [max]="today"
                (click)="forceFilterToCustomRange()"
              />
            </div>
          </li>
        }
    </ul>
  </fieldset>
</form>
