<fieldset class="max-h-80 overflow-auto">
  <legend class="w-full">
    <div #legend>
      <ng-content select="[header]" />
    </div>

    @if (!legend.hasChildNodes() && title()) {
    <div class="mb-2 p-2 flex items-baseline justify-between">
      @if (title()?.iconClass) {
        <i class="fa-fw {{ title()?.iconClass }}"></i>
      }
      <span class="me-4 grow">{{ title()?.label }}</span>

      <div class="ms-4">
        @if (hasFilter()) {
        <button
          type="button"
          class="me-2"
          title="Clear filters"
          (click)="clearFilters()"
          (keydown.enter)="clearFilters()"
        >
          <i class="fa-fw far fa-filter-circle-xmark"></i>
        </button>
        }

        <button
          type="button"
          title="Apply filters"
          [ngClass]="{ 'ms-7': !hasFilter() }"
          (click)="apply()"
          (keydown.enter)="apply()"
        >
          <i class="fa-fw far fa-filter"></i>
        </button>
      </div>
    </div>
    }
  </legend>

  <ul class="data-list">
    @for (item of aggregation().items; track $index) {
      <app-aggregation-row
        [aggregation]="aggregation()"
        [item]="item"
        (onOpen)="open($event)"
        (onSelect)="select($event)" />
    }
  </ul>

</fieldset>

@if(aggregation().$hasMore) {
  <button class="btn btn-sm mt-1 w-full" (click)="loadMore()">load more</button>
}