<fieldset class="max-h-80 overflow-auto snap-y">
  <legend class="w-full px-2 pt-2 cursor-default">
    <div #legend>
      <ng-content select="[header]" />
    </div>

    @if (!legend.hasChildNodes() && title()) {
    <div class="dropdown-header">
      <i class="fa-fw {{ title()?.icon || 'fas fa-list' }}"></i>
      <span class="ms-1 me-4 grow">{{ title()?.label }}</span>

      <div class="ms-4">
        @if (hasAppliedFilters()) {
        <button
          type="button"
          class="me-2"
          title="Clear filters"
          (click)="clearFilters()"
          (keydown.enter)="clearFilters()"
        >
          <i class="fa-fw far fa-filter-circle-xmark"></i>
        </button>
      }

      @if (hasFilter()) {
        <button
          type="button"
          title="Apply filters"
          [ngClass]="{ 'ms-7': !hasFilter() }"
          (click)="apply()"
          (keydown.enter)="apply()"
        >
          <i class="fa-fw far fa-filter"></i>
        </button>
      }
      </div>
    </div>
    }
  </legend>

  <ul class="data-list pt-2 snap-start">
    @for (item of items(); track $index) {
      <app-aggregation-row class="ps-1" [ngClass]="{'data-list-item': !item.hasChildren}"
        [aggregation]="aggregation()"
        [item]="item"
        (onOpen)="open($event)"
        (onSelect)="select($event)" />
    }
  </ul>

</fieldset>

@if(aggregation().$hasMore) {
  <button class="btn btn-tertiary mt-1 w-full" (click)="loadMore()">load more</button>
}