:host {
  &[drawer-opened="true"] {
    #sidebar-filters {
      opacity: 0;
      transition: 0.2s ease-out;
    }
  }
}

app-overview-people:not(.hidden) + app-overview-slides {
  margin-top: 1rem;
}
