<app-preview-navbar class="block border-b border-gray-200 bg-white" [article]="article()" />

<div class="flex h-full flex-col overflow-auto">
  @if (previewData() && article()) {
    <section class="flex flex-col gap-4 border-b border-gray-200 p-6">
      <header class="flex items-center justify-between gap-4 text-base">
        <a class="overflow-auto" target="_blank" rel="noopener noreferrer" [href]="article()!.url1">
          <p class="text-primary me-auto overflow-hidden font-bold text-ellipsis whitespace-nowrap">
            {{ article().title }}
          </p>
        </a>

        <button title="Collapse preview header" (click)="headerCollapsed.set(!headerCollapsed())">
          <i class="fa-fw fa-regular fa-chevron-up" [ngClass]="{ 'rotate-180': headerCollapsed() }"></i>
        </button>
      </header>

      <table class="w-full" [ngClass]="{ hidden: headerCollapsed() }">
        <tr>
          <th>{{ 'location' | transloco }}</th>

          <td class="flex items-center gap-2 overflow-hidden">
            <DocumentLocator [article]="article()" />
          </td>
        </tr>

        @if ((article().authors || []).length > 0) {
          <tr>
            <th>{{ 'lastUpdatedBy' | transloco }}</th>

            <td class="flex flex-wrap gap-2">
              <Metadata variant="outline" [article]="article()!" metadata="authors" />
            </td>
          </tr>
        }

        @if (article().modified) {
          <tr>
            <th>{{ 'lastUpdatedOn' | transloco }}</th>

            <td class="flex gap-2">
              <p>{{ article()!.modified | translocoDate: 'mediumDate' }}</p>
            </td>
          </tr>
        }

        @if (hasLabels()) {
          <tr>
            <th>{{ 'labels' | transloco }}</th>

            <td class="flex flex-col gap-2">
              <Metadata variant="outline" class="cursor-pointer" [article]="article()!" [metadata]="labels.public" (click)="onMetadataClick($event)" />

              <Metadata variant="outline" class="cursor-pointer" [article]="article()!" [metadata]="labels.private" (click)="onMetadataClick($event)" />
            </td>
          </tr>
        }

        <tr>
          <th>{{ 'type' | transloco }}</th>

          <td>
            <Metadata variant="outline" class="cursor-pointer" [article]="article()!" metadata="docformat" (click)="onMetadataClick($event)" />
          </td>
        </tr>
      </table>
    </section>

    @if (displaySummary()) {
      <div
        [class]="
          cn(
            'assistant-container shrink-0 border border-orange-100 bg-orange-50 p-2 px-4',
            assistantCollapsed() && 'collapsed max-h-[50px] overflow-hidden bg-gradient-to-b from-orange-50 to-orange-100'
          )
        ">
        <h2 class="flex items-baseline gap-2 pb-2 text-base font-bold text-orange-400">
          <div class="flex size-8 items-center justify-center rounded-full border border-orange-100 bg-white">
            @if (isStreaming()) {
              <i class="fa-solid fa-spinner animate-spin"></i>
            } @else {
              <i class="fa-solid fa-sparkles"></i>
            }
          </div>

          {{ 'preview.summarize' | transloco }}

          <button
            variant="none"
            [class]="cn('transition-rotate ms-auto size-8 cursor-pointer duration-150 ease-in-out', !assistantCollapsed() && 'rotate-180')"
            (click)="assistantCollapsed.set(!assistantCollapsed()); showAssistant.set(true)"
            aria-label="toggle assistant">
            <i class="fa-regular fa-chevron-down"></i>
          </button>
        </h2>
        @if (showAssistant()) {
          <assistant [instanceId]="instanceId()" [showAssistant]="showAssistant()" (isStreaming)="isStreaming.set($event)" class="h-[300px]" />
        }
      </div>
    }
  }

  @if (loading()) {
    <section class="h-[2px] w-full overflow-hidden bg-gray-200 dark:bg-gray-700">
      <div class="animate-progress h-[2px]" style="background: linear-gradient(to right, blue, #333, orange, #333, blue)"></div>
    </section>
  }
  @if (canLoadIframe()) {
    <section class="flex grow flex-col gap-4 px-6 py-4">
      <preview-actions class="flex justify-end" />

      <iframe
        #preview
        frameborder="0"
        class="h-full"
        [src]="previewUrl()"
        (load)="onLoaded()"
        [attr.title]="'preview.documentPreview' | transloco"
        [attr.aria-label]="'preview.documentPreview' | transloco"></iframe>
    </section>
  } @else if (previewUrlError()) {
    <section class="flex h-full w-full items-center justify-center">
      <p class="text-center text-xl">
        <i class="fa-fw far fa-image text-secondary mb-6 text-6xl"></i><br />
        {{ 'previewUnavailable' | transloco }}
      </p>
    </section>
  }
</div>
