<app-preview-navbar class="block border-b border-neutral-300 bg-white" [article]="article()"/>

@if(article()){
<div class="overflow-auto h-full flex flex-col text-sm">
  <section class="p-6 flex flex-col gap-4 border-b border-neutral-300">
    <header class="flex items-center justify-between gap-4 text-base">
      <a  [href]="article()!.url1" target="_blank" rel="noopener noreferrer" class="overflow-auto">
        <p class="text-primary font-bold me-auto text-ellipsis whitespace-nowrap overflow-hidden">{{ article().title }}</p>
      </a>

      <button title="Collapse preview header" (click)="headerCollapsed.set(!headerCollapsed())">
        <i class="fa-fw fa-regular fa-chevron-up" [ngClass]="{'rotate-180': headerCollapsed()}"></i>
      </button>
    </header>

    <table class="w-full" [ngClass]="{ hidden: headerCollapsed() }">
      <tr>
        <th>Location</th>
        <td class="flex flex-wrap items-baseline divide-x-chevron-right divide-xs">
          <i class="fa-fw {{ article().collection | sourceIcon }}"></i>

          @for (segment of (article().treepath?.[0] || '') | split: '/' | slice:1:-1; track $index) {
            <span>{{ segment }}</span>
          }
        </td>
      </tr>

      @if ((article().authors || []).length > 0) {
        <tr>
          <th>Last update by</th>

          <td class="flex flex-wrap gap-2">
          <sq-metadata #refAuthors [article]="article()!" metadata="authors" [override]="true">
            @for (author of refAuthors.items(); track $index) {
              <wps-author [authorName]="author.display"/>
            }
          </sq-metadata>
        </td>
      </tr>
      }

      @if (article().modified) {
      <tr>
        <th>Last update on</th>

        <td class="flex gap-2">
          <p>{{ article()!.modified | date : "mediumDate" }}</p>
        </td>
      </tr>
      }

      <tr>
        <th>Labels</th>
        <td class="flex flex-col gap-2">
          <sq-metadata class="empty:hidden badge badge-sm border-neutral-600 text-neutral-600 font-semibold" [article]="article()!" [metadata]="labels.public"/>
          <sq-metadata class="empty:hidden badge badge-sm border-neutral-600 text-neutral-600 font-semibold" [article]="article()!" [metadata]="labels.private"/>
        </td>
      </tr>

      <tr>
        <th>Type</th>
        <td>
          <sq-metadata class="badge badge-sm border-neutral-600 text-neutral-600 font-semibold" [article]="article()!" [metadata]="'docformat'"/>
        </td>
      </tr>
    </table>
  </section>

  <section class="grow flex flex-col gap-4 py-4 px-6">
    @if (previewUrl()) {
      <preview-actions class="flex  justify-end gap-2" />
      <iframe #preview frameborder="0" class="h-full" title="Document preview" [src]="previewUrl()"></iframe>
    }
  </section>
</div>
}