<a
  role="button"
  [ngClass]="cn(
    'data-list-item leading-7 p-1 ps-2 gap-2 flex grow items-center',
    item().count === 0 && 'disabled text-neutral-300 pointer-events-none'
    )"
>

  @if(item().hasChildren &&  !$any(item()).items) {
    <button (click)="open($event, item())" >
      <!-- <i class="fas fa-angle-right"></i> -->
      <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </button>
  }

  <input
    type="checkbox"
    value="{{ item().value }}"
    [attr.disabled]="item().count === 0 ? true : null"
    [attr.aria-disabled]="item().count === 0"
    (keydown.enter)="select($event, item())"
    (click)="select($event, item())"
    [checked]="item().$selected"
  />

  @if (item().icon) {
    <i class="fa-fw {{ item().icon }} self-center justify-self-center"></i>
  }

  {{ item().display || item().value | syslang }}
</a>

@if($any(item()).hasChildren) {
  @for(item of $any(item()).items; track $index) {
    <app-aggregation-row class="ms-4"
      [aggregation]="aggregation()"
      [item]="item"
      (onOpen)="onOpen.emit($event)"
      (onSelect)="onSelect.emit($event)" />
  }
}
