{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-package"
  ],
  "tailwindStylesheet": "./src/styles.css",
  "tailwindFunctions": [
    "tv", "cva", "cn"
  ],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 160,
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}