<ul class="flex flex-col">
  @for (search of paginatedSearches(); track $index) {
  <li
    class="flex h-10 gap-2 px-3 py-2 items-center rounded cursor-pointer hover:bg-secondary hover:text-primary focus:bg-secondary focus:text-primary focus:outline-none group"
    tabindex="0" appFocusWithArrowKeys="y" (click)="onClick(search)"
    (keydown.enter)="onClick(search)">
    <i class="fa-fw far fa-star"></i>

    <p class="truncate">{{ search.label }}</p>

    @if ((search.filterCount ?? 0) > 0) {
    <p class="text-neutral-500" aria-hidden="true">
      <i class="fa-fw far fa-filter"></i>
      {{ search.filterCount }}

      @if (search.filterCount! > 1) {
      filters
      } @else {
      filter
      }
    </p>
    }

    @if (search.date) {
    <p class="text-neutral-500 ms-auto">{{ search.date | relativeDate }}</p>
    }

    <button [ngClass]="{'ms-auto': !search.date}"
      class="hidden group-hover:block text-alert hover:scale-125"
      title="Remove saved search"
      (click)="onDelete($index, $event)"
      aria-label="Remove saved search"
      >
      <i class="fa-fw fa-regular fa-trash-can " aria-hidden="true"></i>
    </button>
  </li>
  } @empty {
  <li class="text-center text-neutral-500 py-4">No saved searches yet</li>
  }
</ul>
@if (hasMore()) {
  <button
    class="btn btn-tertiary flex justify-center w-full px-3 py-2"
    tabindex="0" appFocusWithArrowKeys="y" (click)="loadMore($event)">
    Load more
  </button>
}