<sq-menu className="dropdown-content min-w-fit z-50 border-neutral-300 rounded-lg">
  <author-avatar role="button" aria-label="user menu" class="avatar" [person]="person()"  />

  <div menu-content>
    <sq-menu-item>
      <a href="mailto:admin@sinequa.com">
        <i class="fa-regular fa-envelope"></i>
        Contact Administrator
      </a>
    </sq-menu-item>
    @if(allowUserOverride() && !isOverridingUser()) {
      <sq-menu-item (click)="overrideUserDialog.showModal()">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
        Override User
      </sq-menu-item>
    }
    @else if(isOverridingUser()) {
      <sq-menu-item (click)="handleOverrideUser()">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
        Revert Override User
      </sq-menu-item>
    }
    <sq-menu position="left-start" className="dropdown-content" [disabled]="true">
      <sq-menu-item [disabled]="true">
        <i class="far fa-chevron-left"></i>
        Select Language
      </sq-menu-item>

      <div menu-content >
        <sq-menu-item (click)="onClick('language_english')">English</sq-menu-item >
        <sq-menu-item (click)="onClick('language_french')">Français</sq-menu-item >
      </div>
    </sq-menu>

    <hr class="my-1" />
    <sq-menu-item (click)="handleResetUserSettings()">
      <i class="far fa-trash"></i>
      Reset User Settings
    </sq-menu-item>

    @if(!isOverridingUser()) {
      <hr class="my-1" />
      <sq-menu-item (click)="handleLogout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Logout {{ user().fullName }}
      </sq-menu-item>
    }
  </div>
</sq-menu>

<dialog popover class="z-[1000] w-[300px] p-4 rounded-lg shadow-lg" #overrideUserDialog>
  <div class="flex flex-col gap-4">
    <p class="text-lg">Override user</p>
    <input type="text" required
      class="grow focus:outline-none bg-neutral-50 group-hover:bg-white"
      aria-label="Username from the user to override"
      autocomplete="off"
      spellcheck="false"
      placeholder="Username" [(ngModel)]="overrideUser().username" />
    <input type="text" required
      class="grow focus:outline-none bg-neutral-50 group-hover:bg-white"
      aria-label="Domain"
      autocomplete="off"
      spellcheck="false"
      placeholder="Domain" [(ngModel)]="overrideUser().domain" />
    <div class="flex flex-row-reverse">
      <button class="btn btn-ghost" (click)="overrideUserDialog.close()">Cancel</button>
      <button class="btn btn-ghost" (click)="override()">OK</button>
    </div>
  </div>
</dialog>