<a routerLink="/home" class="self-end ps-10">
  <img src="assets/logo/large.svg" alt="" />
</a>

<div class="col-span-2 flex items-center">
  <app-search-input
    class="flex grow"
    [showSave]="true"
    (saved)="saveSearch()"
    (validated)="validated($event)"
    (debounced)="debounced($event)"
  >
    <app-autocomplete
      [text]="searchText()"
      (onClick)="autocompleteItemClicked($event)"
    />
  </app-search-input>
</div>

<menu class="flex justify-end gap-3 items-center pe-10">
  @for (menu of menus; track $index) {
    <li>
      <button class="btn btn-ghost" title="{{ menu.label }}">
        <i class="fa-fw {{ menu.iconClass }}"></i>
      </button>
    </li>
  }
  <li>
    <app-user-menu/>
  </li>
</menu>

<div class="row-start-2">
  <div class="grow h-full border-b border-neutral-300"></div>
</div>

<nav class="col-start-2 col-span-2">
  <ul class="col-start-2 col-span-2 flex items-end">
    @for (tab of tabs; track $index) {
    <li>
      <button
        class="capitalize tab aria-selected:text-primary aria-selected:border-primary"
        [attr.aria-selected]="(navigationService.path$ | async) === tab.routerLink" (click)="changeTab(tab)">
        <i class="fa-fw {{ tab.iconClass }}"></i>
        {{ tab.label }}
      </button>
    </li>
    }

    <li class="grow border-b border-neutral-300"></li>
  </ul>
</nav>

<div class="row-start-2 col-start-4">
  <div class="grow h-full border-b border-neutral-300"></div>
</div>
