<menu class="flex items-baseline gap-2 max-w-full overflow-x-auto">
  <!-- clear filters button -->
  @if (filters().length > 0) {
    <li>
      <button
        class="btn bg-alert/10 text-alert"
        [attr.title]="'filters.clearAllFilters' | transloco"
        [attr.aria-label]="'filters.clearAllFilters' | transloco"
        (click)="clearFilters()"
        (keydown.enter)="clearFilters()"
        >
        <i class="fa-fw far fa-trash-can " aria-hidden="true"></i>
      </button>
    </li>
  }

  <!-- date filter dropdown -->
  @if (dateFilterDropdown()) {
  <li tabindex="0" appFocusWithArrowKeys>
    <Dropdown>
      <button tabindex="-1"
        [ngClass]="cn(
          'btn font-semibold gap-1 w-max',
          dateFilterDropdown()?.firstFilter ? 'btn-primary' : 'btn-tertiary'
          )"
          [attr.title]="'filters.dateFilter' | transloco"
          [attr.aria-label]="'filters.dateFilter' | transloco"
        >

        @if (dateFilterDropdown()?.icon) {
          <i class="fa-fw {{ dateFilterDropdown()?.icon }} " aria-hidden="true"></i>
        }
        @if( dateFilterDropdown()?.firstFilter ) {
          <span [innerHTML]="dateFilterDropdown()?.firstFilter | operator | syslang | transloco"></span>
        }
        @else {
          <span>{{ dateFilterDropdown()?.label | syslang | transloco }}</span>
        }
      </button>

      <app-date-filter dropdown-content
        class="block dropdown-content min-w-[300px] w-max"
        [aggregation]="dateFilterDropdown()!.aggregation"
        [title]="{
          label: dateFilterDropdown()?.label || '',
          icon: dateFilterDropdown()?.icon
        }"
        (refreshed)="dateFilterRefreshed($event)"
        (updated)="dateFilterUpdated($event)"
      />
    </Dropdown>
  </li>
  }

  <!-- other filter dropdowns -->
  @for (filterDropdown of filterDropdowns(); track $index) {
    <li tabindex="0" appFocusWithArrowKeys [ngClass]="cn(filterDropdown.hidden && 'hidden')">
      <Dropdown [disabled]="!filterDropdown.aggregation.items">
        <button tabindex="-1"
          [ngClass]="cn(
            'btn font-semibold gap-1',
            filterDropdown.firstFilter ? 'btn-primary' : 'btn-tertiary'
            )"
          [disabled]="!filterDropdown.aggregation.items || null"
          [attr.aria-disabled]="!filterDropdown.aggregation.items"
          [attr.aria-label]="filterDropdown?.firstFilter?.display || filterDropdown.label"
        >

          @if (filterDropdown.icon) {
            <i class="fa-fw {{ filterDropdown.icon }} " aria-hidden="true"></i>
          }

          @if(filterDropdown.aggregation.isTree) {
            <span class="truncate">{{ (filterDropdown.label) | syslang | transloco }}</span>
          }
          @else {
            <span class="truncate">{{ (filterDropdown?.firstFilter?.display || filterDropdown.label) | syslang | transloco }}</span>
          }

          @if (filterDropdown.moreFiltersCount && filterDropdown.moreFiltersCount > 0) {
            <div class="pill size-5 pill-xs pill-ghost bg-white flex place-content-center font-semibold text-blue-600">
              <i class="fas fa-plus text-[0.5rem] my-auto " aria-hidden="true"></i>
              <span>{{ filterDropdown.moreFiltersCount }}</span>
            </div>
          }
        </button>
        <app-aggregation dropdown-content
          class="dropdown-content w-max"
          [aggregation]="filterDropdown.aggregation"
          [searchable]="searchable()"
          [title]="{
            label: filterDropdown.label,
            icon: filterDropdown.icon
          }"
          (onFiltersChanges)="filterUpdated($event, $index)"
          (onLoadMore)="loadMore(filterDropdown.aggregation, $index)"
        />
      </Dropdown>
    </li>
  }

  @if (hasMoreFilters()) {
    <!-- more filters dropdown -->
    <li
      class="ms-auto"
      tabindex="0"
      appFocusWithArrowKeys
      >
      <Dropdown class="dropdown-end">
        <button class="btn btn-tertiary font-semibold gap-1 truncate" tabindex="-1" aria-label="more filters">
          <i class="far fa-filters"></i>
          <span>{{ 'filters.moreFilters' | transloco }}</span>

          @if (moreFiltersCount() > 0) {
            <span class="ms-1 size-5 pill pill-xs bg-primary text-white flex place-content-center font-semibold">
              {{ moreFiltersCount() }}
            </span>
          }
        </button>

        <app-more-filters dropdown-content class="absolute dropdown-content p-1 mt-1 max-w-80 max-h-96 overflow-y-scroll" />
      </Dropdown>
    </li>
  }
</menu>
