<ul class="divide-y">
  @for (filter of filterDropdowns(); track filter.aggregation.column) {
    <li class="collapse mb-1 bg-base-200">
      <!-- header -->
      <input class="w-full" role="button" type="radio" name="more-filters" title="Open {{ filter.label }}" />

      <div class="collapse-title p-2 flex gap-1 items-baseline justify-between">
        <!-- aggregation's icon -->
        @if (filter.iconClass) {
          <i class="fa-fw {{ filter.iconClass }} me-1"></i>
        }

        <!-- aggregation label -->
        <span class="me-4 grow items-baseline text-sm">{{ filter.label }}</span>

        <!-- actions buttons -->
        <div class="flex gap-2 z-10">
            @if (filter?.moreFiltersCount) {
            <span class="ms-2 size-[18px] pill-xs primary flex place-content-center font-semibold">
              {{ filter.moreFiltersCount }}
            </span>
          }
          @if (hasFilters()[$index]) {
            <button
              title="Clear filters"
              (click)="clearFilter($index)"
              (keydown.enter)="clearFilter($index)"
              >
              <i class="fa-fw far fa-filter-circle-xmark"></i>
            </button>
          }

          <button
            title="Apply filters"
            (click)="applyFilter($index)"
            (keydown.enter)="applyFilter($index)"
            >
            <i class="fa-fw far fa-filter"></i>
          </button>
        </div>
      </div>

      <!-- content -->
      <app-aggregation-list-filter class="collapse-content"
        [aggregation]="filter.aggregation"
        (onSelect)="filterUpdated($event, $index)"
        (onLoadMore)="loadMore(filter.aggregation, $index)"
        />
    </li>
  }
</ul>
