sq-chat-v3 {
  ul {
    scrollbar-width: thin;
  }

  sq-chat-message {
    summary.text-muted,
    summary.text-muted + ul {
      .text-success {
        color: var(--color-success);
      }
    }
  }

  div.ast-input-container {
    border: 1px solid lightgray;
  }
  div.ast-input-container textarea {
    color: var(--color-foreground) !important;
  }

  div.message-content {
    color: var(--color-foreground);
  }

  .references li {
    list-style: none;
  }

  .sq-chat-message-actions {
    z-index: 1 !important;
  }
}

/*
  Styles for the custom <sq-document-list> component.
  This section contains overrides and customizations for the chat-v3 interface,
  specifically targeting the document list element to ensure consistent appearance
  and behavior within the application.
*/
sq-document-list {
  .alert {
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;

    &.alert-warning {
      background-color: var(--color-yellow-50);
      color: var(--color-yellow-800);
      border: 1px solid var(--color-yellow-300);
    }
    &.alert-danger {
      background-color: var(--color-red-800);
      color: var(--color-red-50);
      border: 1px solid var(--color-red-300);
    }
  }
}

.sq-floating-scroll {
  position: relative !important;
  bottom: initial !important;
  right: initial !important;
  padding: 0;

  .btn {
    position: absolute;
    right: 50%;
    text-align: center;
    bottom: 75px;
    background-color: var(--color-muted) !important;
    color: var(--color-muted-foreground) !important;
  }
}

/* code-block overrides */
code-block-reference {
  position: relative;

  .card.mb-2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .card-header {
    position: absolute;
    top: 10px;
    right: 4px;

    span.me-auto {
      font-size: 0.7em;
      color: wheat;
      margin-inline-end: 0.75rem;
    }
  }
}

.dark {
  sq-document-upload {
    .file-upload-container,
    .dropzone {
      background-color: transparent !important;
    }
  }
}

pre[class*='language-'] {
  width: 100%;
}
