sq-saved-chats-v3 {
  scrollbar-width: thin;

  /* chat v3 modal overrides */
  /* center the modal in the screen */
  dialog {
    margin: auto;

    button {
      cursor: pointer;

      &.btn-danger {
        /* make the delete button red */
        background-color: var(--color-destructive);
        color: white;
        &:hover {
          background-color: oklch(from var(--color-destructive) l c h / 0.75);
        }
      }
    }
  }

  .dark sq-dialog-delete-saved-chat > dialog,
  .dark sq-dialog-rename-saved-chat > dialog {
    background: var(--background);
    color: var(--color-foreground);
  }
}

.dark {
  sq-saved-chats-v3 {
    dialog {
      border: none;
      background-color: var(--background);
      color: var(--foreground);
    }
  }
}
