sq-saved-chats-v3 {
  scrollbar-width: thin;

  /* chat v3 modal overrides */
  /* center the modal in the screen */
  dialog {
    margin: auto;

    button {
      cursor: pointer;

      &.btn-danger {
        /* make the delete button red */
        background-color: var(--color-destructive);
        color: white;
        &:hover {
          background-color: oklch(from var(--color-destructive) l c h / 0.75);
        }
      }
    }
  }

  .dark sq-dialog-delete-saved-chat > dialog,
  .dark sq-dialog-rename-saved-chat > dialog {
    background: var(--background);
    color: var(--color-foreground);
  }
}

/* stay on top the date of the saved chat while scrolling */
.saved-chats {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .saved-chat-date {
    position: sticky;
    top: 0;
    /* fix the background color to hide the content behind */
    background-color: white;
  }

  .saved-chat.active {
    color: var(--color-foreground) !important;
    border-radius: 12px;
    & button {
      color: var(--color-foreground) !important;
    }
  }
  .saved-chat:hover {
    color: var(--color-foreground) !important;
    background-color: var(--ast-saved-chat-hover-background) !important;
    border-radius: 12px;
    & button {
      color: var(--color-foreground) !important;
      background-color: transparent !important;
    }
  }
}

.dark {
  sq-saved-chats-v3 {
    dialog {
      border: none;
      background-color: var(--background);
      color: var(--foreground);
    }
  }
}
