@if(article()){
  <div class="max-h-screen flex flex-col p-6 gap-4 overflow-auto">
    <section class="w-full flex flex-col gap-6">
      <header id="panel-control" class="flex rounded group hover:outline hover:outline-1 [&:not(:focus-within)]:hover:outline-neutral-300  focus-within:outline focus-within:outline-1 focus-within:outline-primary ">
        <div class="bg-neutral-50 grow px-2 flex gap-2 items-center rounded-s rounded-e-none group-hover:bg-white ">
          <input type="search"
            class="grow focus:outline-none bg-neutral-50 group-hover:bg-white"
            aria-label="Search here"
            autocomplete="off"
            spellcheck="false"
            placeholder="Search by keyword or ask something" [ngModel]="input()" (ngModelChange)="input.set($event)"
            (keydown.enter)="executeSearch()" />

          @if (input() !== '') {
          <button title="Clear search" (click)="clearInput()" (keydown.enter)="clearInput()">
            <i class="fa-fw far fa-circle-xmark"></i>
          </button>
          }
        </div>

        <button class="btn btn-primary rounded-s-none rounded-e"
          aria-label="Search" [disabled]="input() === '' || null" (click)="executeSearch()">
          <i class="fa-fw far fa-magnifying-glass"></i>
        </button>
      </header>

      <ul id="panel-content" class="flex flex-col gap-1">
        <!-- extracts comes from the HTML document not from the Article object -->
        @for (extract of extracts(); track $index) {
        <li class="rounded px-2 py-1 hover:bg-highlight">
          <p role="button" [id]="'extract-' + extract.relevanceIndex" [innerHTML]="extract.text" (click)="scrollTo('extractslocations', extract.textIndex, true)"></p>
        </li>
        }
        @empty {
        <li class="text-slate-300">No relevant extracts found</li>
        }
      </ul>
    </section>

    <section class="px-2 py-3 border-b border-neutral-300" stkPanel>
      <header id="panel-control" class="flex justify-between items-baseline select-none cursor-pointer">
        <p class="flex gap-2 font-semibold items-baseline">
          <i class="fa-fw far fa-tags"></i>
          Labels
        </p>

        <i class="fa-fw far fa-chevron-down panel-control-icon"></i>
      </header>

      <div id="panel-content">
        <ul class="mt-4 flex flex-col flex-wrap gap-2">
          <li>
            <sq-metadata class="flex gap-1 badge badge-sm border-neutral-600 font-semibold" [article]="article()!" [metadata]="labels.public"/>
          </li>
          <li>
            <sq-metadata class="flex gap-1 badge badge-sm border-neutral-600 font-semibold" [article]="article()!" [metadata]="labels.private"/>
          </li>
        </ul>
      </div>
    </section>

    @if ((article()?.geo ?? []).length > 0) {
    <ng-container *ngTemplateOutlet="metadataPanel; context: {
      metadata: article()!.geo,
      name: 'Location',
      iconClass: 'far fa-location-dot',
      entity: 'geo'
    }"></ng-container>
    }

    @if ((article()?.company ?? []).length > 0) {
    <ng-container *ngTemplateOutlet="metadataPanel; context: {
      metadata: article()!.company,
      name: 'Companies',
      iconClass: 'far fa-buildings',
      entity: 'company'
    }"></ng-container>
    }

    @if ((article()?.person ?? []).length > 0) {
    <ng-container *ngTemplateOutlet="metadataPanel; context: {
      metadata: article()!.person,
      name: 'Mentioned',
      iconClass: 'far fa-at',
      entity: 'person'
    }"></ng-container>
    }
  </div>
}

<ng-template #metadataPanel let-metadata="metadata" let-name="name" let-iconClass="iconClass" let-entity="entity">
  <section class="px-2 py-3 border-b border-neutral-300" stkPanel>
    <header id="panel-control" class="flex justify-between items-baseline select-none cursor-pointer">
      <p class="flex gap-2 font-semibold items-baseline">
        <i class="fa-fw {{ iconClass }}"></i>
        {{ name }}
      </p>

      <i class="fa-fw far fa-chevron-down panel-control-icon"></i>
    </header>

    <div id="panel-content">
      <ul id="panel-content" class="p-2">
        @for (data of metadata; track $index) {
        <li class="flex justify-between" (mouseenter)="hovering.set(data.value)" (mouseleave)="hovering.set(undefined)">
          <p>{{ data.display }}</p>
          <p class="flex items-center gap-2">
            @if (hovering() === data.value) {
              <i class="fa-light fa-chevron-left" (click)="navigatePrev(entity, data)" role="button"></i>
              <span>{{ hoverIndex() }} / {{ data.count }}</span>
              <i class="fa-light fa-chevron-right" (click)="navigateNext(entity, data)" role="button"></i>
            }
            @else {
              {{ data.count }}
            }
          </p>
        </li>
        }
      </ul>
    </div>
  </section>
</ng-template>