:host {
  &[drawer-opened="true"] {
    .layout-search {
      grid-template-columns: 2% 25% 25% 48%;
    }
    
    #sidebar-filters {
    opacity: 0;
    transition: 0.2s ease-out;
  }
}

  & ::ng-deep {
    app-more-filters {
      .applied-filters {
        color: theme('colors.primary');
      }
  
      .data-list-item.selected {
        background-color: transparent;
      }
    }
  }
}

app-overview-people:not(.hidden) + app-overview-slides {
  margin-top: 1rem;
}
