@if (query.isSuccess()) {
  <div class="relative">
    <app-sort-selector class="absolute right-1/4 xl:top-[-2.25rem] top-0 xl:leading-5 leading-none" [result]="result()!" (onSort)="onSort($event)" />
  </div>
}

<div class="layout-search col-start-2 overflow-auto h-full">
  <app-more-filters [filtersCount]="0" class="py-4 px-8" id="sidebar-filters" />

  <main class="col-span-2 mb-8 z-0 relative">

    <app-did-you-mean class="text-alert py-1" [result]="result()" />

    @if (query.isPending()) {
    <ul class="flex flex-col gap-2 mt-4">
      <li><app-article-default-skeleton /></li>
      <li><app-article-default-skeleton /></li>
      <li><app-article-default-skeleton /></li>
    </ul>
    }
    @else if(query.isSuccess()) {
    <ul class="flex flex-col gap-2 mt-4">
      @for(page of query.data()?.pages; track page) {
      @for (article of page.records; track article.id + $index) {
      <li>
        <app-article-default [article]="article" [strategy]="'replace'" />
      </li>
      }
      @if(page.records.length === 0){
      <li class="mt-8 text-neutral-500 italic">
        No result for &quot;<em class="not-italic font-semibold">{{ keys().text }}</em>&quot;
      </li>
      }
      }
    </ul>
    }

    @if(query.hasNextPage()){
    <div infinity-scroll (loadMore)="nextPage()"></div>
    }
  </main>
</div>