:host {
  --backdrop-animation-duration: 250ms;

  @apply absolute hidden top-0 bottom-0 left-0 right-0 bg-backdrop select-none;

  z-index: theme('zIndex.backdrop');

  animation: hide-backdrop var(--backdrop-animation-duration, 250ms) ease-out;

  &[backdrop-visible="true"] {
    @apply block;
    animation: show-backdrop var(--backdrop-animation-duration, 250ms) ease-out;
  }

  @keyframes show-backdrop {
    0% {
      @apply opacity-0 hidden;
    }
    1% {
      @apply block;
    }
    100% {
      @apply opacity-100;
    }
  }

  @keyframes hide-backdrop {
    0% {
      @apply block opacity-100;
    }
    99% {
      @apply opacity-0;
    }
    100% {
      @apply hidden;
    }
  }
}
