<main class="p-56 flex flex-col gap-5 bg-neutral-50">
  <h3>Buttons</h3>
  <div class="grid grid-cols-6 gap-8">

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - flat</h3>
      <button class="btn">Default</button>
      <button class="btn opacity-90">Hover</button>
      <button class="btn" disabled>Disabled</button>
    </div>

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - flat primary</h3>
      <button class="btn btn-primary">Default</button>
      <button class="btn btn-primary opacity-90">Hover</button>
      <button class="btn btn-primary" disabled>Disabled</button>
    </div>

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - flat secondary</h3>
      <button class="btn btn-secondary">Default</button>
      <button class="btn btn-secondary opacity-90">Hover</button>
      <button class="btn btn-secondary" disabled>Disabled</button>
    </div>

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - tertiary</h3>
      <button class="btn btn-tertiary">Default</button>
      <button class="btn btn-tertiary opacity-90">Hover</button>
      <button class="btn btn-tertiary" disabled>Disabled</button>
    </div>

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - outline</h3>
      <button class="btn btn-outline">Default</button>
      <button class="btn btn-outline bg-primary text-white opacity-90">Hover</button>
      <button class="btn btn-outline" disabled>Disabled</button>
    </div>

    <div class="p-2 flex flex-col gap-2 border rounded-lg shadow-md bg-white">
      <h3 class="font-medium">Button - outline alert</h3>
      <button class="btn btn-outline text-alert border-alert hover:bg-alert">Default</button>
      <button class="btn btn-outline bg-alert border-alert text-white opacity-90 hover:bg-alert">Hover</button>
      <button class="btn btn-outline text-alert border-alert" disabled>Disabled</button>
    </div>

    <div class="p-2 col-span-2 flex justify-around gap-2 items-center border rounded-lg shadow-md  bg-white">
      <button class="btn btn-primary btn-xs">xs</button>
      <button class="btn btn-primary btn-sm">sm</button>
      <button class="btn btn-primary">default</button>
      <button class="btn btn-primary btn-lg">lg</button>
      <button class="btn btn-primary btn-xl">xl</button>
      <button class="btn btn-primary btn-lg">lg</button>
      <button class="btn btn-primary">normal</button>
      <button class="btn btn-primary btn-sm">sm</button>
      <button class="btn btn-primary btn-xs">xs</button>
    </div>

    </div>

  <details open>
    <summary>Pills</summary>

    <div class="p-2 flex flex-col gap-2">
      <div class="*:me-2">
        <span class="pill pill-xs">Pill xs</span>
        <span class="pill pill-xs"><i class="far fa-user me-1"></i>Pill xs</span>

        <span class="pill pill-sm">Pill sm</span>
        <span class="pill pill-sm"><i class="far fa-user me-1"></i>Pill sm</span>

        <span class="pill">Pill</span>
        <span class="pill"><i class="far fa-user me-1"></i>Pill</span>

        <span class="pill pill-lg">Pill lg</span>
        <span class="pill pill-lg"><i class="far fa-user me-1"></i>Pill ls</span>

        <span class="pill pill-xl">Pill xl</span>
        <span class="pill pill-xl"><i class="far fa-user me-1"></i>Pill xl</span>
      </div>

      <div class="*:me-2">
        <span class="pill primary">Pill primary</span>
        <span class="pill primary"
          ><i class="far fa-user me-1"></i>Pill primary</span
        >

        <span class="pill secondary">Pill secondary</span>
        <span class="pill secondary"
          ><i class="far fa-user me-1"></i>Pill secondary</span
        >

        <span class="pill active">Pill active</span>
        <span class="pill active"
          ><i class="far fa-user me-1"></i>Pill active</span
        >

        <span class="pill pill-ghost active">Pill ghost</span>
        <span class="pill pill-ghost active"
          ><i class="far fa-user me-1"></i>Pill ghost</span
        >

        <span class="pill alert">Pill alert</span>
        <span class="pill alert"
          ><i class="far fa-user me-1"></i>Pill alert</span
        >
      </div>
    </div>
  </details>

  <details open>
    <summary>Lists</summary>

    <div class="p-2 grid grid-cols-5 gap-x-2">
      <ul class="data-list-sm">
        @for (item of list; track $index) {
        <li
          class="p-2 data-list-item"
          [ngClass]="{ 'selected': list[$index] }"
        >
          <input
            class="me-2"
            type="checkbox"
            id="{{ $index }}"
            [(ngModel)]="list[$index]"
          />
          <label for="{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>

      <ul class="data-list">
        @for (item of list; track $index) {
        <li
          class="p-2 data-list-item"
          [ngClass]="{ 'selected': list[$index] }"
        >
          <input
            class="me-2"
            type="checkbox"
            id="{{ $index }}"
            [(ngModel)]="list[$index]"
          />
          <label for="{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>

      <ul class="data-list-lg">
        @for (item of list; track $index) {
        <li
          class="p-2 data-list-item"
          [ngClass]="{ 'selected': list[$index] }"
        >
          <input
            class="me-2"
            type="checkbox"
            id="{{ $index }}"
            [(ngModel)]="list[$index]"
          />
          <label for="{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>

      <ul class="data-list-xl">
        @for (item of list; track $index) {
        <li
          class="p-2 data-list-item"
          [ngClass]="{ 'selected': list[$index] }"
        >
          <input
            class="me-2"
            type="checkbox"
            id="{{ $index }}"
            [(ngModel)]="list[$index]"
          />
          <label for="{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>
    </div>
  </details>

  <details open>
    <summary>Checkbox / Radio</summary>

    <div class="p-2 grid grid-cols-5 gap-x-2">
      <ul class="data-list">
        @for (item of list; track $index) {
        <li class="p-2 data-list-item">
          <input #checkbox type="checkbox" id="checkbox-{{ $index }}" />

          <span
            class="checkbox me-2"
            (click)="checkbox.click()"
            (keydown.enter)="checkbox.click()"
            tabindex="-1"
          ></span>

          <label for="checkbox-{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>

      <ul class="data-list">
        @for (item of list; track $index) {
        <li class="p-2 data-list-item">
          <input
            #radio
            type="radio"
            id="radio-{{ $index }}"
            name="radio"
            value="radio-{{ $index }}"
          />

          <span
            class="radio me-2"
            (click)="radio.click()"
            (keydown.enter)="radio.click()"
            tabindex="-1"
          ></span>

          <label for="radio-{{ $index }}">{{ $index }}</label>
        </li>
        }
      </ul>
    </div>
  </details>

  <details open>
    <summary>Accordion</summary>

    <div class="collapse bg-base-200">
      <input
        type="radio"
        name="my-accordion-2"
        checked="checked"
        title="Open tab 1"
      />

      <div class="collapse-title text-xl font-medium">
        Click to open this one and close others
      </div>

      <div class="collapse-content">
        <p>hello</p>
      </div>
    </div>

    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-2" title="Open tab 2" />

      <div class="collapse-title text-xl font-medium">
        Click to open this one and close others
      </div>

      <div class="collapse-content">
        <p>hello</p>
      </div>
    </div>

    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-2" title="Open tab 3" />

      <div class="collapse-title text-xl font-medium">
        Click to open this one and close others
      </div>

      <div class="collapse-content">
        <p>hello</p>
      </div>
    </div>
  </details>

  <details open>
    <summary>Dividers</summary>

    <div class="grid grid-cols-2">
      <div>
        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>No-margin</span>
          <div class="divide-x-slash">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xs</span>
          <div class="divide-x-slash divide-xs">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>sm</span>
          <div class="divide-x-slash divide-sm">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>normal</span>
          <div class="divide-x-slash divide-normal">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>lg</span>
          <div class="divide-x-slash divide-lg">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xl</span>
          <div class="divide-x-slash divide-xl">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>
      </div>

      <div>
        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>No-margin</span>
          <div class="divide-x-comma">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xs</span>
          <div class="divide-x-comma divide-xs">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>sm</span>
          <div class="divide-x-comma divide-sm">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>normal</span>
          <div class="divide-x-comma divide-normal">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>lg</span>
          <div class="divide-x-comma divide-lg">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xl</span>
          <div class="divide-x-comma divide-xl">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>
      </div>

      <div>
        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>No-margin</span>
          <div class="divide-x-chevron-right">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xs</span>
          <div class="divide-x-chevron-right divide-xs">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>sm</span>
          <div class="divide-x-chevron-right divide-sm">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>normal</span>
          <div class="divide-x-chevron-right divide-normal">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>lg</span>
          <div class="divide-x-chevron-right divide-lg">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>

        <div class="grid grid-cols-[100px_auto] gap-2">
          <span>xl</span>
          <div class="divide-x-chevron-right divide-xl">
            @for (item of dividers; track $index) {
            <span class="">Metadata {{ $index }}</span>
            }
          </div>
        </div>
      </div>
    </div>
  </details>
</main>
