<menu class="flex items-baseline gap-2">
  <!-- clear filters button -->
  @if ((filters() || []).length > 0) {
    <li>
      <button
        class="btn bg-alert/10 text-alert"
        title="Clear all filters"
        (click)="clearFilters()"
        (keydown.enter)="clearFilters()"
        >
        <i class="fa-fw far fa-trash-can"></i>
      </button>
    </li>
  }

  <!-- date filter dropdown -->
  @if (dateFilterDropdown()) {
  <li role="button" class="dropdown group" tabindex="0" appFocusWithArrowKeys>
    <div
      [ngClass]="cn(
        'btn font-semibold flex gap-1 items-baseline',
        dateFilterDropdown()?.currentFilter ? 'btn-primary' : 'btn-tertiary'
        )"
    >
      @if (dateFilterDropdown()?.icon) {
        <i class="fa-fw {{ dateFilterDropdown()?.icon }}"></i>
      }
      @if( dateFilterDropdown()?.value ) {
        <span [innerHTML]="dateFilterDropdown()?.value?.operator"></span>
        <span>{{ dateFilterDropdown()?.value?.text }}</span>
      }
      @else {
        <span>{{ dateFilterDropdown()?.label }}</span>
      }
    </div>

    <app-date-filter
      class="dropdown-content min-w-[300px] w-max"
      [aggregation]="dateFilterDropdown()!.aggregation"
      [title]="{
        label: dateFilterDropdown()?.label || '',
        icon: dateFilterDropdown()?.icon
      }"
      (refreshed)="dateFilterRefreshed($event)"
      (updated)="dateFilterUpdated($event)"
    />
  </li>
  }

  <!-- other filter dropdowns -->
  @for (filterDropdown of filterDropdowns(); track $index) {
    <li class="dropdown group" tabindex="0" role="button" appFocusWithArrowKeys>
      <button
        [ngClass]="cn(
          'btn font-semibold flex gap-1 items-baseline',
          filterDropdown.value?.text ? 'btn-primary' : 'btn-tertiary')"
        [disabled]="!filterDropdown.aggregation.items || null"
      >
        @if (filterDropdown.icon) {
          <i class="fa-fw {{ filterDropdown.icon }}"></i>
        }
        <span>{{ filterDropdown?.value?.text || filterDropdown.label }}</span>

        @if (filterDropdown.moreFiltersCount && filterDropdown.moreFiltersCount > 0) {
          <div class="pill size-5 pill-xs pill-ghost bg-white flex place-content-center font-semibold text-blue-600">
            <i class="fas fa-plus text-[0.5rem] my-auto"></i>
            <span>{{ filterDropdown.moreFiltersCount }}</span>
          </div>
        }
      </button>

      <app-aggregation
        class="dropdown-content w-max"
        [aggregation]="filterDropdown.aggregation"
        [title]="{
          label: filterDropdown.label,
          icon: filterDropdown.icon
        }"
        (onFiltersChanges)="filterUpdated($event, $index)"
        (onLoadMore)="loadMore(filterDropdown.aggregation, $index)"
      />
    </li>
  }

  @if (hasMoreFilters()) {
    <!-- more filters dropdown -->
    <li
      role="button"
      class="dropdown dropdown-end group ms-auto"
      tabindex="0"
      appFocusWithArrowKeys
      >
      <button class="btn btn-tertiary font-semibold flex gap-1 items-baseline truncate">
        <i class="far fa-filters"></i>
        <span>More filters</span>

        @if (moreFiltersCount() > 0) {
          <span class="ms-1 size-5 pill pill-xs bg-primary text-white flex place-content-center font-semibold">{{ moreFiltersCount() }}</span>
        }
      </button>

      <app-more-filters class="dropdown-content p-1 mt-1 rounded-md border border-neutral-200 bg-white w-max" />
    </li>
  }
</menu>
