<menu
  class="flex items-center p-4 gap-2 *:*:font-semibold btn-sm"
>
  <li>
    <button
      class="btn btn-ghost flex items-center gap-2"
      [attr.title]="'back' | transloco"
      (click)="drawerStack.close()"
    >
      <i class="fa-fw far fa-arrow-left"></i>
      {{ 'back'| transloco }}
    </button>
  </li>

  <li class="bg-neutral-200 w-[1px] h-8 self-center"></li>

  @if (navConfig.showOpenButton) {
    <li>
      <button
        class="btn btn-ghost flex items-center gap-2"
        [attr.title]="'open' | transloco"
        [disabled]="!hasExternalLink()"
        (click)="openClicked()"
      >
        <i class="fa-fw far fa-arrow-up-right-from-square"></i>
        {{ 'open'| transloco }}
      </button>
    </li>

    <li class="bg-neutral-200 w-[1px] h-8 self-center"></li>
  }
  @if (canBookmark()) {
    <li>
      <app-bookmark-button class="btn btn-ghost" [article]="article()!" />
    </li>
  }

  <li>
    <button
      class="btn btn-ghost"
      [attr.title]="'preview.copyPreviewLink' | transloco"
      [disabled]="!hasExternalLink()"
      (click)="copyLink()"
    >
      <i
        class="fa-fw far"
        [class.fa-link]="!copied"
        [class.fa-circle-check]="copied"
      ></i>
    </button>
  </li>

  @if (navConfig.showSearchButton) {
  <li class="ml-auto">
    <button
      [ngClass]="
        cn(
          'btn flex gap-2 items-center text-nowrap',
          isExtended() ? 'btn-secondary' : 'btn-primary'
        )
      "
      (click)="drawerStack.extend()"
    >
      @if (isExtended()) {
        <i class="fa-fw far fa-eye-slash"></i>
        {{ 'preview.hideSearch' | transloco }}
      }

      @else {
        <i class="fa-fw far fa-eye"></i>
        {{ 'preview.searchInDocument' | transloco }}
      }
    </button>
  </li>
  }
</menu>
