tr {
  display: grid;
  grid-template-columns: 25% auto;
  margin-bottom: --spacing(1);

  th {
    text-align: start;
    color: var(--color-neutral-500);
    font-weight: var(--font-medium);
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    align-self: center;
  }
}
