<ul class="flex flex-col">
  @for (search of paginatedSearches(); track $index) {
    <li
      class="group flex h-10 cursor-pointer items-center gap-2 rounded px-3 py-2 hover:bg-secondary hover:text-primary focus:bg-secondary focus:text-primary focus:outline-none"
      tabindex="0"
      (click)="onClick(search)"
      (keydown.enter)="onClick(search)">
      <i class="fa-fw fas fa-star"></i>

      <p class="truncate">{{ search.label }}</p>

      @if ((search.filterCount ?? 0) > 0) {
        <p class="text-neutral-500" aria-hidden="true">
          <i class="fa-fw far fa-filter"></i>

          {{ 'savedSearches.filterCount' | transloco: { count: search.filterCount } }}
        </p>
      }

      @if (search.date) {
        <p class="ms-auto text-neutral-500 first-letter:capitalize">
          {{ getRelativeDate(transloco.getActiveLang(), search.date) }}
        </p>
      }

      <button
        class="hidden text-alert hover:scale-125 group-hover:block"
        [ngClass]="{ 'ms-auto': !search.date }"
        [attr.title]="'savedSearches.removeSavedSearch' | transloco"
        [attr.aria-label]="'savedSearches.removeSavedSearch' | transloco"
        (click)="onDelete($index, $event)">
        <i class="fa-fw fa-regular fa-trash-can" aria-hidden="true"></i>
      </button>
    </li>
  } @empty {
    <li class="py-4 text-center text-neutral-500">
      {{ 'savedSearches.noSavedSearches' | transloco }}
    </li>
  }
</ul>

@if (hasMore()) {
  <button class="btn btn-tertiary flex w-full justify-center px-3 py-2" tabindex="0" [attr.title]="'loadMore' | transloco" (click)="loadMore($event)">
    {{ 'loadMore' | transloco }}
  </button>
}
