<p class="flex gap-1 items-center">
  @if(useIcon()){
    <i class="fa-fw fa-regular fa-user-circle"></i>
  }
  @else {
    <author-avatar [person]="person()" className="rounded-full size-5 object-cover">
      <i class="fa-fw fa-regular fa-user-circle"></i>
    </author-avatar>
  }

  <span class="line-clamp-1 break-all">{{ authorName() }}</span>
</p>

@if (person() && showAuthor()) {
  <div class="absolute w-max pt-1 z-tooltip">
    <app-article-person-light class="group bg-white" [person]="person()" [strategy]="strategy()" />
  </div>
}