<div
  (click)="drawer.toggleExtension()"
  (keydown.escape)="drawer.toggleExtension()"
  [attr.aria-hidden]="true"
></div>

<div class="flex overflow-auto bg-white">
  <div
    #drawerHandle
    class="w-[5px] h-full fixed hover:cursor-ew-resize"
    [ngClass]="{ hidden: (drawer.isExtended | async) === false }"
  ></div>

  @if (!previewType()) {
  <div class="w-full h-full flex items-center justify-center">
    <i
      class="fa-regular fa-spinner-third animate-spin text-[12rem] text-neutral-200"
    ></i>
  </div>
  } @else {
  <ng-container
    *ngComponentOutlet="previewType()!.previewComponentType!; inputs: inputs()"
  />
  }
</div>

@if (article()) {
<app-advanced-search [article]="article()" (textChanged)="onTextChanged($event)" (close)="drawer.collapse()" />
}
