@let user = principalStore.principal();

@if (enabledUserProfile()) {
  <MenuItem (click)="onEventClick.emit('profile')">
    <user-icon class="text-[16px]" />
    <span>{{ "userMenu.manageProfile" | transloco }}</span>
  </MenuItem>
  <Separator />

  <expandable-select
    labelKey="userMenu.selectTheme"
    [icon]="PaletteIcon"
    [options]="themeOptions"
    [active]="currentTheme() ?? ''"
    [translateLabels]="true"
    [expanded]="openSection() === 'theme'"
    (toggleExpand)="toggleSection('theme')"
    (selected)="onThemeSelect($event)" />
} @else {
  <expandable-select
    #languageSelect
    labelKey="userMenu.selectLanguage"
    [options]="languageOptions"
    [active]="currentActiveLang()"
    [expanded]="openSection() === 'language'"
    (toggleExpand)="toggleSection('language')"
    (flyoutTriggered)="themeSelect.closeFlyout()"
    (selected)="changeLanguage($event)" />

  <expandable-select
    #themeSelect
    labelKey="userMenu.selectTheme"
    [icon]="PaletteIcon"
    [options]="themeOptions"
    [active]="currentTheme() ?? ''"
    [translateLabels]="true"
    [expanded]="openSection() === 'theme'"
    (toggleExpand)="toggleSection('theme')"
    (flyoutTriggered)="languageSelect.closeFlyout()"
    (selected)="onThemeSelect($event)" />
}

<Separator />

<MenuItem variant="destructive" (click)="onEventClick.emit('reset-user-settings')">
  <trash-icon class="text-[16px]" />
  <span>{{ "userMenu.resetUserSettings" | transloco }}</span>
</MenuItem>

@if (isOverridingUser()) {
  <Separator />
}

@if (allowUserOverride() && !isOverridingUser()) {
  <MenuItem (click)="onEventClick.emit('override-user')">
    <user-secret-icon class="text-[16px]" />
    <span>{{ "userMenu.overrideUser" | transloco }}</span>
  </MenuItem>
} @else if (isOverridingUser()) {
  <MenuItem (click)="onEventClick.emit('revert-override-user')">
    <user-icon class="text-[16px]" />
    <span>{{ "userMenu.revertOverride" | transloco }}</span>
  </MenuItem>
}

<Separator />

@if (allowAgent()) {
  <MenuItem>
    <debug-icon />
    <label class="flex-1 truncate">Agent Debug</label>
    <Switch [variant]="debug() ? 'primary' : 'secondary'" [(toggled)]="debug" />
  </MenuItem>
  <Separator />
}

<MenuItem (click)="openSinequa()" class="justify-between">
  <img class="size-4" src="assets/logo/logo-small.svg" alt="sinequa logo" />
  <span class="grow">{{ "userMenu.aboutSinequa" | transloco }}</span>
  <arrow-up-right-from-square-icon class="text-[12px]" />
</MenuItem>

@if (allowChangePassword()) {
  <MenuItem (click)="onChangePassword()" class="justify-between">
    <key-icon class="text-[16px]" />
    <span class="grow">{{ "userMenu.changePassword" | transloco }}</span>
  </MenuItem>
}

<MenuItem (click)="handleLogout()">
  <arrow-right-from-bracket-icon class="text-[16px]" />
  <span class="grow">{{ "logout" | transloco }} {{ user.fullName || user.name }}</span>
</MenuItem>
