<menu>
  <button variant="ghost" size="icon" [attr.title]="'searchFeedback.button' | transloco">
    <i class="fas fa-comment" aria-hidden="true"></i>
  </button>

  <MenuContent>
    @if (!disliked()) {
    <menuitem (click)="like()" [attr.title]="'searchFeedback.like' | transloco">
      @if (liked()) {
      <i class="fa-fw fas fa-thumbs-up"></i> {{ 'searchFeedback.liked' | transloco }} } @else { <i class="fa-fw far fa-thumbs-up"></i> {{ 'searchFeedback.like'
      | transloco }} }
    </menuitem>
    } @if (!liked()) {
    <menuitem (click)="dislike()" [attr.title]="'searchFeedback.dislike' | transloco">
      @if (disliked()) {
      <i class="fa-fw fas fa-thumbs-down"></i> {{ 'searchFeedback.disliked' | transloco }} } @else { <i class="fa-fw far fa-thumbs-down"></i> {{
      'searchFeedback.dislike' | transloco }} }
    </menuitem>
    } @for (menu of menus; track $index) {
    <menuitem (click)="openFeedbackDialog(menu.type)" [attr.title]="'searchFeedback.' + menu.type + '.title'">
      <i class="fa-fw {{menu.icon}}"></i> {{ 'searchFeedback.' + menu.type + '.title' | transloco }}
    </menuitem>
    }
  </MenuContent>
</menu>

<feedback-dialog />
