<div class="flex">
  <button tabindex="0" class="btn btn-tertiary me-2 font-semibold" [attr.title]="'searchFeedback.like'" (click)="like()">
    @if (liked()) {
    <i class="fa-fw fas fa-thumbs-up"></i>
    } @else {
    <i class="fa-fw far fa-thumbs-up"></i>
    }
  </button>

  <button tabindex="0" class="btn btn-tertiary me-2 font-semibold" [attr.title]="'searchFeedback.dislike'" (click)="dislike()">
    @if (disliked()) {
    <i class="fa-fw fas fa-thumbs-down"></i>
    } @else {
    <i class="fa-fw far fa-thumbs-down"></i>
    }
  </button>
</div>
