<div class="flex">
  <button tabindex="0" class="me-1" variant="secondary" size="sm" [attr.title]="'searchFeedback.like'" (click)="like()">
    @if (liked()) {
    <i class="fa-fw fas fa-thumbs-up"></i>
    } @else {
    <i class="fa-fw far fa-thumbs-up"></i>
    }
  </button>

  <button tabindex="0" variant="secondary" size="sm" [attr.title]="'searchFeedback.dislike'" (click)="dislike()">
    @if (disliked()) {
    <i class="fa-fw fas fa-thumbs-down"></i>
    } @else {
    <i class="fa-fw far fa-thumbs-down"></i>
    }
  </button>
</div>
