<ul class="grid grid-cols-6 auto-rows-fr gap-4">
  @for (application of applications; track $index) {
  <li>
    <button
      class="size-full py-3 px-2 flex flex-col items-center justify-between rounded-md group hover:bg-secondary"
      (click)="applicationClicked(application)"
      (keydown.enter)="applicationClicked(application)"
    >
      <span
        class="p-2 rounded-full text-primary bg-neutral-50"
      >
        <i class="fa-fw {{ application.iconClass }}"></i>
      </span>

      <p class="font-semibold text-neutral-600 group-hover:text-primary">
        {{ application.label }}
      </p>
    </button>
  </li>
  }

  <li>
    <button
      class="size-full py-3 px-2 flex flex-col items-center justify-between rounded-md hover:bg-secondary"
      (click)="addApplication()"
      (keydown.enter)="addApplication()"
    >
      <span class="p-2 rounded-full text-primary bg-neutral-50">
        <i class="fa-fw far fa-plus"></i>
      </span>

      <p class="font-semibold group-hover:text-primary">Add</p>
    </button>
  </li>
</ul>
