@if (applications()?.length) {
<ul class="grid grid-cols-6 auto-rows-fr gap-4">
  @for (application of applications(); track $index) {
  <li>
    <button
      class="size-full py-3 px-2 flex flex-col items-center justify-between rounded group hover:bg-secondary"
      (click)="applicationClicked(application)"
      (keydown.enter)="applicationClicked(application)"
    >
      <span class="p-2 rounded-full text-primary bg-neutral-50">
        @if (application.iconPath) {
          <img
          class="max-w-5"
          [src]="application.iconPath"
          [alt]="application.name"
          >
        } @else {
          <i class="fa-fw {{ application.icon }}"></i>
        }
      </span>

      <p class="font-semibold group-hover:text-primary">
        {{ application.name }}
      </p>
    </button>
  </li>
  }
</ul>
} @else {
  <p class="text-center text-neutral-500 py-4 w-100">No application has been added</p>
}
