<ul class="grid grid-cols-6 auto-rows-fr pt-10 gap-y-10">
  @for (application of applications; track $index) {
  <li class="place-self-stretch">
    <button
      class="size-full px-2 pb-4 pt-6 rounded-md group hover:bg-gray-50"
      (click)="applicationClicked(application)"
      (keydown.enter)="applicationClicked(application)"
    >
      <span
        class="p-2 rounded-full text-blue-500 bg-gray-50 group-hover:bg-gray-100"
      >
        <i class="fa-fw {{ application.iconClass }}"></i>
      </span>

      <p class="font-semibold mt-6 group-hover:text-blue-500">
        {{ application.label }}
      </p>
    </button>
  </li>
  }

  <li class="place-self-stretch">
    <button
      class="size-full px-2 pb-4 pt-6 rounded-md group hover:bg-gray-50"
      (click)="addApplication()"
      (keydown.enter)="addApplication()"
    >
      <span
        class="p-2 rounded-full text-blue-500 bg-gray-50 group-hover:bg-gray-100"
      >
        <i class="fa-fw far fa-plus"></i>
      </span>

      <p class="font-semibold mt-6 group-hover:text-blue-500">Add</p>
    </button>
  </li>
</ul>
