@if (suggestions()) {
  <ul id="search-suggestions" class="bg-background text-foreground z-10 max-h-80 overflow-auto rounded-b-lg p-2" role="listbox" aria-label="suggestions list">
    @for (suggest of suggestions(); track $index) {
      @if (suggest.$isDivider) {
        <HorizontalDivider />
      } @else if (suggest.$isTitle) {
        <li role="presentation" class="text-muted-foreground cursor-pointer p-2 text-xs font-semibold">
          @switch (suggest.category) {
            @case ('company') {
              {{ 'company' | transloco }}
            }
            @case ('location') {
              {{ 'location' | transloco }}
            }
            @case ('full-text') {
              {{ 'full-text' | transloco }}
            }
            @case ('recent-search') {
              {{ 'searches.recent.label' | transloco }}
            }
            @case ('saved-search') {
              {{ 'searches.saved.label' | transloco }}
            }
            @case ('bookmark') {
              {{ 'bookmarks.label' | transloco }}
            }
            @case ('title') {
              {{ 'documents' | transloco }}
            }
            @case ('concepts') {
              {{ 'matters' | transloco }}
            }
            @case ('people') {
              {{ 'collaborators' | transloco }}
            }
          }
        </li>
      } @else {
        <li
          role="option"
          class="data-list-item aria-selected:bg-primary-selected flex cursor-pointer items-baseline gap-2 p-2"
          [id]="'search-suggestion-' + $index"
          [attr.data-text]="suggest.display"
          [attr.aria-label]="suggest.display"
          (keyup.enter)="itemClicked(suggest)"
          (click)="itemClicked(suggest)">
          @switch (suggest.category) {
            @case ('recent-search') {
              <i class="fa-fw far fa-clock-rotate-left"></i>
            }
            @case ('saved-search') {
              <i class="fa-fw far fa-star"></i>
            }
            @case ('bookmark') {
              <i class="fa-fw far fa-bookmark"></i>
            }
            @case ('full-text') {
              <i class="fa-fw far fa-magnifying-glass"></i>
            }
            @case ('title') {
              <i class="fa-fw far fa-file"></i>
            }
            @case ('concepts') {
              <i class="fa-fw far fa-lightbulb"></i>
            }
            @case ('people') {
              <i class="fa-fw far fa-user-circle"></i>
            }
            @default {
              <i class="fa-fw far fa-magnifying-glass"></i>
            }
          }

          <p class="line-clamp-1 text-ellipsis">
            @for (chunk of suggest.display! | highlightWord: text() : 10; track $index) {
              <span [class]="{ 'font-bold': chunk.match }">{{ chunk.text }}</span>
            }
          </p>
        </li>
      }
    }
  </ul>
}
@if (advancedSearch()) {
  <HorizontalDivider />

  <button variant="primary" class="m-2 h-7 text-xs" (click)="openAdvancedSearch()">
    <i class="fa-fw far fa-sliders"></i>
    {{ 'searchInput.advancedSearch' | transloco }}
  </button>
}
