<main class="col-span-2 col-start-2 mb-8 px-2.5">
  <!-- skeleton part -->
  @if (query.isPending()) {
    <div class="mt-4 flex justify-between" aria-hidden="true">
      <div class="flex gap-2">
        @for (n of [1, 2, 3, 4, 5]; track $index) {
          <button class="bg-muted-foreground/30 h-9 w-24" aria-hidden="true"></button>
        }
      </div>

      <button class="bg-muted-foreground/30 h-9 w-28" aria-hidden="true"></button>
    </div>

    <div class="mt-10 flex justify-end">
      <button class="bg-muted-foreground/30 h-9 w-28" aria-hidden="true"></button>
    </div>

    <ul class="mt-4 flex flex-col gap-2" aria-hidden="true">
      @for (n of [1, 2, 3]; track $index) {
        <li><CardSkeleton /></li>
      }
    </ul>
  } @else if (hasRowCount()) {
    <!-- tabs and filters -->
    <div class="bg-background sticky top-16 z-10 -mx-1 pt-1 pb-2">
      @if (isTabSearchActive()) {
        <navbar-tabs class="mt-2 block" />
      }

      <!-- if results have been found -->
      <filters-bar class="pt-4 pb-4" />

      <DidYouMean class="text-alert py-1 empty:hidden" [result]="result()" />

      <sponsored-results />

      <!-- sort selector and export button -->
      <div class="flex gap-1 has-[_+ul>li.no-records]:hidden">
        <button variant="ghost" (click)="selectAll()">
          @switch (selectedAll()) {
            @case ('all') {
              <i class="fa-fw fa-regular fa-square-check"></i>
              Unselect All
            }
            @case ('some') {
              <i class="fa-fw fa-regular fa-square-minus"></i>
              Select All
            }
            @default {
              <i class="fa-fw fa-regular fa-square"></i>
              Select All
            }
          }
        </button>

        <sort-selector class="ms-auto" [result]="result()!" [position]="position()" (onSort)="onSort($event)" />
      </div>
    </div>

    <!-- if assistant is allowed -->
    @if (allowAI()) {
      <Card variant="ai" hover="no" class="shadow-none">
        <CardHeader class="flex items-baseline gap-1 px-0 text-base font-semibold">
          <div class="flex size-8 items-center justify-center">
            @if (isStreaming()) {
              <i class="fas fa-spinner animate-spin"></i>
            } @else {
              <i class="fas fa-sparkles"></i>
            }
          </div>

          <h2>AI Overview</h2>

          <button
            variant="none"
            [class]="cn('transition-rotate ms-auto size-8 cursor-pointer duration-150 ease-in-out', !assistantCollapsed() && 'rotate-180')"
            (click)="onAssistantCollapse()"
            aria-label="toggle assistant">
            <i class="far fa-chevron-down"></i>
          </button>
        </CardHeader>

        @if (showAssistant()) {
          <CardContent [class]="cn('h-96 px-0', assistantCollapsed() && 'hidden')">
            <assistant
              [class]="cn('h-fit max-h-96', assistantCollapsed() && 'hidden')"
              [showAssistant]="showAssistant()"
              [instanceId]="instanceId()"
              (isStreaming)="isStreaming.set($event)" />
          </CardContent>
        }
      </Card>
    }

    <!-- display all records -->
    <ul class="mt-4 flex flex-col gap-2.5" role="list" aria-label="results">
      @for (page of query.data()?.pages; track page) {
        @for (article of page.records; track article.id + $index) {
          <ng-container
            *ngComponentOutlet="getArticleType(article?.docformat); inputs: { article, strategy: 'replace', allowAI: allowAI() && enabledUserInput() }" />
        }
      }
    </ul>

    <feedback
      [class]="cn('fixed right-8', !hideFeedback() && !drawerOpened() && 'bottom-3', (hideFeedback() || drawerOpened()) && '-bottom-12')"
      [pages]="query.data()?.pages"
      (onClose)="onFeedbackClose()" />

    @if (query.hasNextPage()) {
      <div infinity-scroll (onScroll)="nextPage()"></div>
    }
  } @else {
    <!-- tabs and filters -->
    <div class="bg-background sticky top-16 z-10 -mx-1 pt-1 pb-2">
      @if (isTabSearchActive()) {
        <navbar-tabs class="mt-2 block" />
      }
      <!-- if results have been found -->
      <filters-bar class="pt-4 pb-4" [excludeFilters]="['Treepath', 'Sources']" />

      <DidYouMean class="text-alert py-1 empty:hidden" [result]="result()" />
    </div>

    <!-- display a panel to inform the user that no results were found -->
    <NoResult class="mt-4" />
  }
</main>
