<fieldset class="flex flex-col gap-2">
  @if (!headless()) {
    <legend class="mb-1 flex h-8 w-full select-none items-center gap-1 pl-1 text-sm font-semibold text-gray-600">
      @if (aggregation()?.icon) {
        <i class="fa-fw {{ aggregation()?.icon }}" aria-hidden="true"></i>
      }
      <span class="grow">{{ aggregation()?.display | syslang | transloco }}</span>

      @if (hasFilters()) {
        <button
          variant="ghost"
          size="sm"
          [attr.title]="'filters.clearFilters' | transloco"
          [attr.aria-label]="'filters.clearFilters' | transloco"
          (click)="clear()">
          <i class="fa-fw far fa-filter-circle-xmark"></i>
        </button>
      }
      @if (selectionCount()) {
        <button
          variant="ghost"
          size="sm"
          [attr.title]="'filters.applyFilters' | transloco"
          [attr.aria-label]="'filters.applyFilters' | transloco"
          (click)="apply()">
          <i class="fa-fw far fa-filter"></i>
        </button>
      }
    </legend>
  }

  @if (searchable()) {
    <div
      class="group flex grow items-center gap-2 rounded border bg-neutral-50 p-1 px-2 focus-within:bg-white focus-within:outline focus-within:outline-1 focus-within:outline-primary hover:bg-white hover:outline hover:outline-1 hover:outline-primary">
      <input
        class="grow bg-neutral-50 focus:bg-white focus:outline-none group-hover:bg-white"
        type="search"
        [placeholder]="'search' | transloco"
        [ngModel]="searchText()"
        (ngModelChange)="searchText.set($event)" />
    </div>
  }

  <ul class="max-h-52 snap-y snap-start overflow-auto" role="list" [attr.aria-label]="aggregation()?.display | syslang | transloco">
    @for (item of items(); track $index) {
      <AggregationRow [node]="item" (onSelect)="select($event)" (onOpen)="open($event)" />
    }
  </ul>
</fieldset>

@if (aggregation()?.$hasMore) {
  <button variant="secondary" class="mt-1 flex w-full justify-center" [attr.aria-label]="'loadMore' | transloco" (click)="loadMore()">
    {{ 'loadMore' | transloco }}
  </button>
}
