<fieldset class="flex flex-col gap-2">
  @if (!headless()) {
    <legend class="mb-1 flex h-8 w-full items-center pl-1 text-sm font-semibold text-gray-600 select-none">
      @if (aggregation()?.icon) {
        <i class="fa-fw {{ aggregation()?.icon }} mr-1" aria-hidden="true"></i>
      }
      <span class="grow">{{ aggregation()?.display | syslang | transloco }}</span>

      @if (hasFilters()) {
        <button
          variant="ghost"
          size="icon"
          [attr.title]="'filters.clearFilters' | transloco"
          [attr.aria-label]="'filters.clearFilters' | transloco"
          (click)="clear()">
          <i class="fa-fw far fa-filter-circle-xmark"></i>
        </button>
      }
      @if (selectionCount()) {
        <button
          variant="ghost"
          size="icon"
          [attr.title]="'filters.applyFilters' | transloco"
          [attr.aria-label]="'filters.applyFilters' | transloco"
          (click)="apply()">
          <i class="fa-fw far fa-filter"></i>
        </button>
      }
    </legend>
  }

  @if (searchable()) {
    <input type="text" [placeholder]="'search' | transloco" [(ngModel)]="searchText" />
  }

  <ul class="max-h-52 snap-y snap-start overflow-auto" role="list" [attr.aria-label]="aggregation()?.display | syslang | transloco">
    @for (item of items(); track $index) {
      <AggregationItem [node]="item" (onSelect)="select($event)" (onOpen)="open($event)" />
    }
  </ul>
</fieldset>

@if (aggregation()?.$hasMore) {
  <button variant="link" class="mt-1 flex w-full justify-center" [attr.aria-label]="'loadMore' | transloco" (click)="loadMore()">
    {{ 'loadMore' | transloco }}
  </button>
}
