<fieldset>
  <legend class="w-full p-2 cursor-default">
    <div #legend>
      <ng-content select="[header]" />
    </div>

    @if (!legend.hasChildNodes() && title()) {
    <div class="dropdown-header">
      <i class="fa-fw {{ title()?.icon || 'fas fa-list' }}"></i>
      <span class="ms-1 me-4 grow">{{ title()?.label | syslang | transloco }}</span>

      <div class="ms-4">
        @if (hasAppliedFilters()) {
        <button
          type="button"
          class="me-2"
          [attr.title]="'filters.clearFilters' | transloco"
          [attr.aria-label]="'filters.clearFilters' | transloco"
          (click)="clearFilters()"
          (keydown.enter)="clearFilters()"
        >
          <i class="fa-fw far fa-filter-circle-xmark"></i>
        </button>
      }

      @if (hasFilter()) {
        <button
          type="button"
          [ngClass]="{ 'ms-7': !hasFilter() }"
          [attr.title]="'filters.applyFilters' | transloco"
          [attr.aria-label]="'filters.applyFilters' | transloco"
          (click)="apply()"
          (keydown.enter)="apply()"
        >
          <i class="fa-fw far fa-filter"></i>
        </button>
      }
      </div>
    </div>
    }
  </legend>

  @if (searchable()) {
    <div class="p-1" [formGroup]="searchGroup">
      <input
        type="text"
        class="flex h-10 w-full rounded-md border border-input bg-background px-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
        id="aggregation-search"
        [placeholder]="'search' | transloco"
        formControlName="searchQuery"
      />
    </div>
  }

  <ul class="data-list snap-start max-h-52 overflow-auto snap-y" [ngClass]="{'pt-2': !searchable()}">
    @for (item of selected(); track $index) {
      <app-aggregation-row
        [aggregation]="aggregation()"
        [node]="item"
        (onOpen)="open($event)"
        (onSelect)="select($event)" />
    }
  </ul>

</fieldset>

@if (aggregation().$hasMore) {
  <button
    class="btn btn-tertiary mt-1 w-full flex justify-center"
    [attr.aria-label]="'loadMore' | transloco"
    (click)="loadMore()"
  >
    {{ 'loadMore' | transloco }}
  </button>
}