<div
  (click)="drawer.toggleExtension()"
  (keydown.escape)="drawer.toggleExtension()"
  [attr.aria-hidden]="true"
></div>

<div class="flex overflow-auto bg-white">
  <div
    #drawerHandle
    class="w-[5px] h-full fixed hover:cursor-ew-resize"
    [ngClass]="{ hidden: !drawer.isExtended() }"
  ></div>

  @if (previewTypeMap() !== undefined) {
  <ng-container
    *ngComponentOutlet="previewTypeMap().previewComponentType!; inputs: inputs"
  />
  }
</div>

<app-advanced-search class="text-sm" [article]="article" (close)="drawer.collapse()"/>