@layer components {
  .article {
    @apply rounded-md border border-gray-400 flex p-4 gap-2;
  }
  .article.selected,
  .article.selected:hover {
    background-color: theme('colors.blue.50');
    border-color: theme('colors.blue.500');
  }
  .article:hover {
    @apply border-gray-600 bg-blue-50 cursor-pointer has-[.btn:hover]:bg-white;
  }

  /* when an article is selected, reduce the opacity of the other articles */
  ul:has(.article.selected) .article:not(.selected) {
    opacity: 50%;
  }
}
