@layer components {
  .btn {
    @apply p-2 rounded-md font-normal bg-gray-50;
  }
  .btn:disabled {
    @apply disabled;
  }
  .btn:hover:not(.btn-primary, .btn-secondary, .btn-ghost, :disabled) {
    @apply active;
  }

  .btn-outline {
    @apply border;
  }

  .btn-primary {
    @apply text-white bg-blue-500 border-blue-600;
  }
  .btn-primary:hover:not(:disabled) {
    @apply text-white bg-blue-600 border-blue-700;
  }

  .btn-secondary {
    @apply text-blue-500 bg-blue-50 border-blue-100;
  }
  .btn-secondary:hover:not(:disabled) {
    @apply text-blue-600 bg-blue-100 border-blue-200;
  }

  .btn-ghost {
    @apply bg-transparent;
  }
  .btn-ghost:hover:not(:disabled) {
    @apply text-active;
  }

  .btn-alert {
    @apply text-red-500 bg-red-100 border-red-200;
  }
  .btn-alert:hover:not(:disabled) {
    @apply alert border-red-600;
  }

  .btn-xs {
    padding: theme('spacing.1');
    font-size: theme('fontSize.xs');
    line-height: theme('lineHeight.4');
  }
  .btn-sm {
    padding: theme('spacing.2');
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.5');
  }
  .btn-lg {
    padding: theme('spacing.3');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.7');
  }
  .btn-xl {
    padding: theme('spacing.4');
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.7');
  }
}
