@layer components {
  .pill {
    padding-left: theme('spacing.2');
    padding-right: theme('spacing.2');
    display: inline-block;
    border-width: 1px;
    border-radius: theme('borderRadius.full');

    &-ghost {
      border: none;
    }

    &-xs {
      font-size: theme('fontSize.xs');
      height: theme('spacing.5');
    }
    &-sm {
      font-size: theme('fontSize.sm');
      height: theme('spacing.6');
    }
    &-lg {
      padding-left: theme('spacing.4');
      padding-right: theme('spacing.4');
      font-size: theme('fontSize.lg');
      height: theme('spacing.8');
    }
    &-xl {
      padding-left: theme('spacing.5');
      padding-right: theme('spacing.5');
      font-size: theme('fontSize.xl');
      height: theme('spacing.9');
    }
  }
}
