<Search
  id="autocomplete-anchor"
  [variant]="variant()"
  [class]="
    cn(
      'relative w-full transition-[border-radius] duration-150 focus-within:z-[1001] focus-within:rounded-2xl focus-within:rounded-br-none focus-within:rounded-bl-none',
      variant() === 'basic' && 'focus-within:rounded-lg focus-within:rounded-br-none focus-within:rounded-bl-none'
    )
  "
  [attr.placeholder]="'searchInput.placeholder' | transloco"
  [attr.aria-label]="'searchInput.placeholder' | transloco"
  [(ngModel)]="input"
  (keydown)="onKeyDown($event)"
  (click)="inputClicked()">
  @if (showSave() && input() !== '') {
    <button
      variant="icon"
      class="px-1 peer-disabled:opacity-50"
      [attr.title]="'searchInput.saveSearch' | transloco"
      [attr.aria-label]="'searchInput.saveSearch' | transloco"
      (click)="saveQuery()"
      (keydown.enter)="saveQuery()">
      @if (savedSearch()) {
        <i class="fa-fw fas fa-star" [ngClass]="{ 'animate-save': saveAnimation() }" aria-hidden="true"></i>
      } @else {
        <i class="fa-fw far fa-star" [ngClass]="{ 'animate-save': saveAnimation() }" aria-hidden="true"></i>
      }
    </button>
  }

  @if (input() !== '' && allowAI()) {
    <button variant="ai" class="m-1 h-6 rounded-sm text-xs" title="Ask AI" aria-label="Ask AI" (click)="askAI($event)" (keydown.enter)="askAI($event)">
      <i class="fa-fw fa-regular fa-sparkles me-1" aria-hidden="true"></i>
      Ask AI
    </button>
  }
  <button
    variant="icon"
    class="px-1"
    [attr.title]="'search' | transloco"
    [attr.aria-label]="'search' | transloco"
    [attr.aria-disabled]="!allowEmptySearch() && this.input() === ''"
    [disabled]="!allowEmptySearch() && this.input() === ''"
    (click)="emitText($event)">
    <SendHorizontalIcon />
  </button>
</Search>

<div popover #autocompletePopover (click)="handlePopoverClick($event)">
  <ng-content></ng-content>
</div>
