<!-- [variant]="variant()" -->
<SearchInput
  id="autocomplete-anchor"
  controls="search-suggestions"
  [variant]="'default'"
  [class]="
    cn(
      'relative w-full transition-[border-radius] duration-150 focus-within:z-[1001] focus-within:rounded-2xl focus-within:rounded-br-none focus-within:rounded-bl-none',
      variant() === 'basic' && 'focus-within:rounded-lg focus-within:rounded-br-none focus-within:rounded-bl-none'
    )
  "
  [placeholder]="'searchInput.placeholder' | transloco"
  [attr.aria-label]="'searchInput.placeholder' | transloco"
  [(ngModel)]="value"
  (onFocus)="focus()"
  (onBlur)="blur()"
  (onSelected)="selected.emit($event)"
  (click)="inputClicked()">
  @if (showSave() && (value() !== '' || hasFilters())) {
    <button
      variant="ghost"
      size="xs"
      class="peer-disabled:opacity-50"
      [attr.title]="'searchInput.saveSearch' | transloco"
      [attr.aria-label]="'searchInput.saveSearch' | transloco"
      (click)="saveQuery($event)"
      (keydown.enter)="saveQuery($event)">
      @if (savedSearch()) {
        <i class="fa-fw fas fa-star" [ngClass]="{ 'animate-save': saveAnimation() }" aria-hidden="true"></i>
      } @else {
        <i class="fa-fw far fa-star" [ngClass]="{ 'animate-save': saveAnimation() }" aria-hidden="true"></i>
      }
    </button>
  }

  @if (allowAI()) {
    <button
      variant="ai"
      class="m-1 h-6 rounded-sm text-xs transition ease-in"
      title="Ask AI"
      aria-label="Ask AI"
      [disabled]="value() === ''"
      [routerLink]="['/assistant']"
      [queryParams]="{ q: value() }">
      <i class="fa-fw fa-regular fa-sparkles me-1" aria-hidden="true"></i>
      Ask AI
    </button>
  }
  <button
    variant="ghost"
    size="xs"
    [attr.title]="'search' | transloco"
    [attr.aria-label]="'search' | transloco"
    [attr.aria-disabled]="!allowEmptySearch() && this.value() === ''"
    [disabled]="!allowEmptySearch() && this.value() === ''"
    (click)="emitText($event)">
    <SendHorizontalIcon />
  </button>

  <div popover #autocompletePopover>
    <ng-content></ng-content>
  </div>
</SearchInput>
