/* Hides default checkbox */
input[type="checkbox"]:has(+ .checkbox) {
  display: none;
}

input[type="checkbox"] + .checkbox::before {
  /* fa-square glyph code */
  content: "\f0c8";
  font: var(--fa-font-regular);
}

input[type="checkbox"]:checked + .checkbox::before {
  /* fa-check-square glyph code */
  content: "\f14a";
  font: var(--fa-font-regular);
}
