<img
  class="aspect-video object-cover w-full rounded-t-md"
  alt="Thumbnail for {{ slide()?.title }}"
  [src]="slide()?.thumbnailUrl"
/>

<main class="flex flex-col gap-2 p-2 border-t rounded-b-md bg-white">
  <p class="article-title line-clamp-1">
    {{ slide()?.title }}
  </p>

  <section class="flex gap-2 items-baseline">
    <i class="fa-fw far fa-user"></i>

    <p
      class="text-ellipsis whitespace-nowrap overflow-hidden divide-x-comma divide-xs"
    >
      @if (slide()?.authors?.[0]) {
      <span>{{ slide()!.authors![0] }}</span>
      }

      @if (slide()?.modified) {
      <span>{{ slide()!.modified | date : "mediumDate" }}</span>
      }
    </p>
  </section>
</main>
