div.tab-container {
  max-height: 0px;

  transition: max-height 0.25s ease-in-out;

  &.expanded {
    max-height: 200px;

    transition: max-height 0.25s ease-in-out;
  }
}

.similar-documents li {
  @apply ms-2;

  app-article-default-light {
    @apply px-2 py-1;
  }
}
