<article class="article group/article" [class.selected]="selected()">
  <section class="shrink-0">
    <div class="flex justify-center items-center size-[40px] rounded-full bg-neutral-50 text-primary">
      <app-source-icon [collection]="article().collection" class="text-lg max-w-7" />
    </div>
  </section>

  <section class="flex flex-col gap-2">
    <header>
      <div class="flex gap-2 items-baseline">
        <p class="text-primary text-base font-bold line-clamp-1">{{ article().title }}</p>
        @if (showBookmark()) {
          <app-bookmark [article]="article()" />
        }
      </div>

      <section class="flex gap-1 items-center">
        @if (docformatMetadata()) {
        <div class="pill pill-xs border-neutral-600 hover:bg-neutral-600 hover:text-white font-bold uppercase">
          {{ docformatMetadata() }}
        </div>
        }

        <div class="flex gap-1 divide-x-slash divide-xs">
          @if ((article().authors || []).length > 0) {
          <app-author [authorName]="article()!.authors![0]" [strategy]="'replace'" [useIcon]="true" />
          }

          @if (article().modified) {
          <p class="flex gap-1 items-baseline">
            <i class="fa-fw far fa-calendar-day"></i>
            <span class="w-max">{{ article()!.modified!.split(" ")[0] | date : "mediumDate" }}</span>
          </p>
          }

          @if (article().parentFolder) {
          <p class="flex gap-1 items-baseline" [title]="article()!.parentFolder">
            <i class="fa-fw far fa-folder"></i>
            <span class="line-clamp-1">{{ article()!.parentFolder }}</span>
          </p>
          }
        </div>
      </section>
    </header>

    <main>
      <p class="line-clamp-2" [innerHTML]="extract()"></p>
    </main>

    @if ((articleMetadata()?.length ?? 0) > 0) {
    <div class="flex gap-2">
      @for (metadata of articleMetadata(); track $index) {
        <sq-metadata class="flex gap-2 badge badge-sm border-neutral-600 hover:bg-neutral-600 hover:text-white font-semibold" [article]="article()!" [metadata]="metadata" />
      }
    </div>
    }
<!--  TODO: Implement the following code later
    <footer class="flex flex-col">
      <menu class="flex">
        <button (click)="toggleTab('attachments')" stkStopPropagation class="btn btn-ghost p-2 flex gap-4 items-center">
          <img src="https://placehold.co/20" alt="" class="rounded-full" />
          Attachments
          <img src="https://placehold.co/20" alt="" class="rounded-full" />
        </button>

        @if ((article().queryDuplicates?.length || 0) > 0) {
        <button (click)="toggleTab('similars')" stkStopPropagation class="btn btn-ghost flex gap-1 items-baseline">
          <i class="fa-fw fa-regular fa-files"></i>
          {{ article().queryDuplicates?.length }} similar(s) document(s)
          <i class="fa-fw fa-regular fa-chevron-down"
            [ngClass]="{'rotate-180': currentTab === 'similars' && showTab()}"></i>
        </button>
        }
      </menu>
      <div class="tab-container overflow-auto" [ngClass]="{ expanded: showTab() === true }">
        @if (currentTab === 'attachments') {
        <ul class="mt-2 border-l-2 border-primary">
          @for (attachment of attachments; track $index) {
          <li>
            <app-article-default-light [article]="attachment" stkStopPropagation class="border-none" />
          </li>
          }
        </ul>
        } @else if (currentTab === 'similars' && (article().queryDuplicates?.length || 0) > 0) {
        <ul class="mt-2 border-l-2 border-primary similar-documents">
          @for (similar of article()!.queryDuplicates; track $index) {
          <li>
            <app-article-default-light [article]="similar" stkStopPropagation class="border-none p-0" />
          </li>
          }
        </ul>
        }
      </div>
    </footer>
-->
  </section>
</article>