<article class="article group/article">
  <section class="shrink-0">
    <div class="flex justify-center items-center size-[40px] rounded-full bg-gray-100 text-blue-500">
      <i class="{{ article()?.treepath?.[0] | treepathToIconClass }} text-lg"></i>
    </div>
  </section>

  <section class="flex flex-col gap-2">
    <header>
      <div class="flex gap-2 items-baseline">
        <p class="article-title line-clamp-1">{{ article()?.title }}</p>

        <button title="Bookmark that document" (click)="bookmark()" stkStopPropagation>
          @if (isBookmarked()) {
          <i class="fa-fw fa-solid fa-bookmark text-sm"></i>
          } @else {
          <i class="fa-fw fa-regular fa-bookmark text-sm"></i>
          }
        </button>
      </div>

      <section class="flex gap-1 items-center text-gray-900">
        @if (article()?.doctype) {
        <div class="pill pill-xs border-gray-900 font-bold uppercase">
          {{ article()!.doctype }}
        </div>
        }

        <div class="flex gap-1 divide-x-slash divide-xs">
          @if ((article()?.authors ?? []).length > 0) {
          <wps-author [authorName]="article()!.authors![0]" [strategy]="'replace'" />
          }

          @if (article()?.modified) {
          <p class="flex gap-1 items-baseline">
            <i class="fa-fw far fa-calendar-day"></i>
            {{ article()!.modified!.split(" ")[0] | date : "mediumDate" }}
          </p>
          }

          @if (article()?.parentFolder) {
          <p class="flex gap-1 items-baseline">
            <i class="fa-fw far fa-folder"></i>
            {{ article()!.parentFolder }}
          </p>
          }
        </div>
      </section>
    </header>

    <main>
      <p class="line-clamp-2" [innerHTML]="article()?.relevantExtracts"></p>
    </main>

    @if ((articleMetadata()?.length ?? 0) > 0) {
    <div class="flex gap-2">
      @for (metadata of articleMetadata(); track $index) {
      <app-metadata [article]="article()!" [metadata]="metadata" class="flex gap-2" className="pill pill-sm border-black font-semibold" />
      }
    </div>
    }

    <footer class="flex flex-col">
      <menu class="flex">
        <button (click)="toggleTab('attachments')" stkStopPropagation class="btn btn-ghost p-2 flex gap-4 items-center">
          <img src="https://placehold.co/20" alt="" class="rounded-full" />
          Attachments
          <img src="https://placehold.co/20" alt="" class="rounded-full" />
        </button>

        @if ((article()?.queryDuplicates?.length || 0) > 0) {
        <button (click)="toggleTab('similars')" stkStopPropagation class="btn btn-ghost flex gap-1 items-baseline">
          <i class="fa-fw fa-regular fa-files"></i>
          {{ article()?.queryDuplicates?.length }} similar(s) document(s)
          <i class="fa-fw fa-regular fa-chevron-down"
            [ngClass]="{'rotate-180': currentTab === 'similars' && showTab()}"></i>
        </button>
        }
      </menu>

      <div class="tab-container overflow-auto" [ngClass]="{ expanded: showTab() === true }">
        @if (currentTab === 'attachments') {
        <ul class="mt-2 border-l-2 border-blue-400">
          @for (attachment of attachments; track $index) {
          <li>
            <app-article-default-light [article]="attachment" stkStopPropagation class="border-none" />
          </li>
          }
        </ul>
        } @else if (currentTab === 'similars' && (article()?.queryDuplicates?.length || 0) > 0) {
        <ul class="mt-2 border-l-2 border-blue-400 similar-documents">
          @for (similar of article()!.queryDuplicates; track $index) {
          <li>
            <app-article-default-light [article]="similar" stkStopPropagation class="border-none p-0" />
          </li>
          }
        </ul>
        }
      </div>
    </footer>
  </section>
</article>