<main class="col-start-2 col-span-2 mb-8">
  <app-filters class="sticky pt-4 pb-4 top-0 bg-gradient-to-b from-80% from-white" />

  <app-did-you-mean class="text-red-500 py-1" [result]="result()"></app-did-you-mean>

  @if (!slides()) {
    <ul class="grid grid-cols-2 gap-4 mt-8">
      <li><app-article-slide-skeleton /></li>
      <li><app-article-slide-skeleton /></li>
      <li><app-article-slide-skeleton /></li>
    </ul>
  }
  @else if (slides()!.length > 0) {
    <ul class="grid grid-cols-2 gap-4 mt-8">
      @for (slide of slides(); track $index) {
      <li>
        <app-article-slide [slide]="slide" class="border border-gray-400 rounded-md p-4" />
      </li>
      }
    </ul>

    <app-pager [configuration]="pageConfiguration()"/>

  }
  @else {
    <p class="mt-8 text-gray-500 italic">No result for "<em class="not-italic font-semibold">{{ queryText() }}</em>"</p>
  }
</main>