<div
  (click)="drawer.toggleExtension()"
  (keydown.escape)="drawer.toggleExtension()"
  [attr.aria-hidden]="true"
></div>

@if (isAssistantReady()) {
<div class="flex flex-col">
  <menu
    class="flex sticky bg-white top-0 z-[2000] items-center p-4 justify-between gap-2 *:*:font-semibold btn-sm border-b border-neutral-300"
  >
    <li>
      <button class="btn btn-ghost flex items-center gap-2" disabled>
        <i class="fa-fw far fa-clock-rotate-left"></i>
        Chat history
      </button>
    </li>

    <li class="bg-neutral-200 w-[1px] h-8 self-center"></li>

    <li class="ms-auto">
      <button class="btn btn-ghost flex items-center gap-2" (click)="newChat()">
        <i class="fa-fw far fa-message-plus"></i>
        New discussion
        <i class="fa-fw far fa-plus"></i>
      </button>
    </li>
  </menu>

  <app-assistant
    class="flex flex-col grow"
    #assistant
    mode="prompt"
    instanceId="search-results-assistant"
  />
</div>
}
