:host {
  overflow-y: auto;

  z-index: theme('zIndex.drawerChat');

  background-color: theme("colors.white");

  box-shadow: var(--drawer-box-shadow);

  ::ng-deep sq-chat-v3 {
    flex-grow: 1;

    & > div {
      height: 100%;
    }
  }
}
