<div class="flex max-w-[inherit] flex-col overflow-hidden">
  <preview-navbar class="block border-b border-muted-foreground/18" [(extended)]="extended" [article]="article()" />

  <div class="@container relative mb-2 flex h-full flex-col gap-0.5">
    @if (article()) {
      <section class="relative hidden border-b border-muted-foreground/18 px-6 py-4 @min-lg:block">
        <preview-header [article]="article()" />
        <section class="absolute bottom-0 left-0 w-full overflow-hidden" [class.invisible]="!loading()">
          <div class="h-0.5 animate-progress bg-linear-to-r from-ai-from via-ai-via to-ai-to"></div>
        </section>
      </section>

      <!-- Tab Navigation only if the "display summary is available " -->
      <preview-tabs class="h-full" />
    }
  </div>
</div>

<advanced-search
  class="max-w-(clamp(200px,350px,100%)) h-full overflow-y-auto border-l border-foreground/18 bg-menu"
  [article]="article()"
  previewStrategy="replace" />
