<article class="group/article group article" [class.selected]="selected()">
  <section class="shrink-0">
    <div class="flex size-[40px] items-center justify-center rounded-full bg-neutral-50 text-primary">
      <app-source-icon [collection]="article().collection" [connector]="article().connector" class="max-w-7 text-lg" />
    </div>
  </section>

  <section class="flex grow flex-col gap-2 overflow-auto break-words">
    <header>
      <div class="flex items-baseline gap-2">
        <p class="line-clamp-1 text-base font-bold text-primary">{{ article().title }}</p>

        <div class="flex-grow">
          @if (showBookmark()) {
            <bookmark-button [article]="article()" />
          }
        </div>

        @if (hasLabelsAccess()) {
          <Menu class="invisible group-hover:visible" (click)="$event.stopImmediatePropagation()">
            @if (hasLabelsAccess()) {
              <button variant="ghost" [title]="'article.openMenu' | transloco">
                <i class="fas fa-ellipsis-vertical" aria-hidden="true"></i>
              </button>
            }

            <MenuContent>
              <MenuItem (click)="editLabels()"> <i class="fa-fw far fa-tag"></i> {{ 'article.editLabels' | transloco }} </MenuItem>
              <MenuItem (click)="addToCollection()"> <i class="fa-fw far fa-inbox"></i> {{ 'article.addToCollection' | transloco }} </MenuItem>
            </MenuContent>
          </Menu>
        }
      </div>

      <section class="flex items-center gap-1">
        @if (docformatMetadata()) {
          <div
            class="pill pill-xs border-neutral-600 font-bold uppercase hover:bg-neutral-600 hover:text-white"
            (click)="setFilter('docformat', docformatMetadata()!)">
            {{ docformatMetadata() }}
          </div>
        }

        <div class="divide-x-slash divide-xs flex gap-1">
          @if ((article().authors || { authors: [''] }).length > 0) {
            <span>{{ article().authors[0] }}</span>
          }

          @if (article().modified) {
            <p class="flex items-baseline gap-1">
              <i class="fa-fw far fa-calendar-day"></i>
              <span class="w-max">{{ article()!.modified!.split(' ')[0] | translocoDate: 'mediumDate' }}</span>
            </p>
          }
        </div>
      </section>
    </header>

    <main>
      <p class="article-extract line-clamp-2" [innerHTML]="extract()"></p>
    </main>

    @if (customMetadata()?.length && article()) {
      @for (metadata of customMetadata(); track $index) {
        <div class="flex">
          @if (metadata.title) {
            <label class="border-neutral-600 font-bold uppercase">{{ metadata.title | transloco }}</label>
          }
          <Metadata class="badge badge-sm flex gap-1 border-neutral-600 font-semibold" [article]="article()" [metadata]="metadata.field" />
        </div>
      }
    }

    <missing-terms [article]="article()" />
  </section>
</article>

<labels-edit-dialog [article]="article()" (click)="$event.stopPropagation()" />
<add-to-collection-dialog [article]="article()" (click)="$event.stopPropagation()" />
