<article class="article group/article" [class.selected]="selected()">
  <section class="shrink-0">
    <div class="flex justify-center items-center size-[40px] rounded-full bg-neutral-50 text-primary">
      <app-source-icon [collection]="article().collection" [connector]="article().connector" class="text-lg max-w-7" />
    </div>
  </section>

  <section class="flex flex-col gap-2 overflow-auto break-words">
    <header>
      <div class="flex gap-2 items-baseline">
        <p class="text-primary text-base font-bold line-clamp-1">{{ article().title }}</p>

        <div class="flex-grow">
          @if (showBookmark()) {
            <app-bookmark-button [article]="article()" />
          }
        </div>

        <Dropdown #dropdown>
          <button class="btn btn-ghost" [title]="'article.openMenu' | transloco" role="button"
            [attr.aria-label]="'article.openMenu' | transloco" (click)="$event.stopPropagation(); dropdown.toggle()">
            <i class="fas fa-ellipsis-vertical" aria-hidden="true"></i>
          </button>
        
          <div dropdown-content class="absolute dropdown-content p-1 font-semibold" (click)="$event.stopPropagation()">
            <li class="mb-1 bg-base-200 p-2" (click)="editLabels()">
              <i class="fa-fw far fa-tag"></i> {{ 'article.editLabels' | transloco }}
            </li>
          </div>
        </Dropdown>
      </div>

      <section class="flex gap-1 items-center">
        @if (docformatMetadata()) {
        <div class="pill pill-xs border-neutral-600 hover:bg-neutral-600 hover:text-white font-bold uppercase"
          (click)="setFilter('docformat', docformatMetadata()!)">
          {{ docformatMetadata() }}
        </div>
        }

        <div class="flex gap-1 divide-x-slash divide-xs">
          @if ((article().authors || { authors: ['']}).length > 0) {
          <span>{{ article().authors[0] }}</span>
          }

          @if (article().modified) {
          <p class="flex gap-1 items-baseline">
            <i class="fa-fw far fa-calendar-day"></i>
            <span class="w-max">{{ article()!.modified!.split(" ")[0] | translocoDate : "mediumDate" }}</span>
          </p>
          }
        </div>
      </section>
    </header>

    <main>
      <p class="article-extract line-clamp-2" [innerHTML]="extract()"></p>
    </main>

  </section>
</article>

<edit-labels-dialog />