:host {
  Dropdown {
    visibility: hidden;
  }

  &:hover Dropdown {
    visibility: visible;
  }
}

div.tab-container {
  max-height: 0px;

  transition: max-height 0.25s ease-in-out;

  &.expanded {
    max-height: 200px;

    transition: max-height 0.25s ease-in-out;
  }
}

.similar-documents li {
  margin-left: theme("spacing.2");
}

.article-extract {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

::ng-deep .matchlocations {
  font-weight: 700;
}