<div class="flex h-full">
  @if (allowAI()) {
    <nav
      role="navigation"
      class="fixed top-0 flex h-full translate-0 flex-col items-center gap-16 bg-gray-100 px-6 pt-16 text-gray-400 transition duration-200 ease-in-out">
      <a routerLink="/home" class="cursor-pointer" title="Go to home page">
        <img id="navbar-logo" class="mx-auto h-6" aria-hidden="true" alt="logo" />
      </a>

      <a routerLink="/assistant" class="rounded transition duration-200 hover:text-gray-800" title="Go to assistant page">
        <Robot />
      </a>
    </nav>
  }

  <div class="flex-1">
    <!-- Main content goes here -->
    <router-outlet></router-outlet>
  </div>
</div>

<app-backdrop />

<app-drawer-stack />

<ngx-sonner-toaster richColors expand visibleToasts="10" />
