@theme inline {
  --color-sage-50: #f5f8f7;
  --color-sage-100: #e8f0ee;
  --color-sage-200: #d1e1dd;
  --color-sage-300: #a9c1b8;
  --color-sage-400: #7a9b95;
  --color-sage-500: #607c7f;
  --color-sage-600: #5d7374;
  --color-sage-700: #4f6162;
  --color-sage-800: #445556; /* 👑 */
  --color-sage-900: #374648; /* headers */
  --color-sage-950: #2d393a; /* sidebar */
  --color-sage-975: #222d30;

  --color-almond-50: #f1f8f4;
  --color-almond-100: #dcefe3; /* 👑 */
  --color-almond-200: #bbdfca;
  --color-almond-300: #8ec7a9;
  --color-almond-400: #5fa884;
  --color-almond-500: #3d8c69;
  --color-almond-600: #2c6f52;
  --color-almond-700: #235944;
  --color-almond-800: #1e4737;
  --color-almond-900: #193b2e;
  --color-almond-950: #0d211a;

  --color-pink-50: #fcf7fc;
  --color-pink-100: #faecfb;
  --color-pink-200: #efc9f3; /* 👑 */
  --color-pink-300: #dbbade;
  --color-pink-400: #c9aacb;
  --color-pink-500: #b896bb;
  --color-pink-600: #a582ab;
  --color-pink-700: #926e9b;
  --color-pink-800: #7f5a8b;
  --color-pink-900: #6c467b;
  --color-pink-950: #4a325b;

  --color-green-50: #f6faf5;
  --color-green-100: #e5eee3;
  --color-green-200: #c4d6c0;
  --color-green-300: #91b38b;
  --color-green-400: #709b67;
  --color-green-500: #4e8344;
  --color-green-600: #3e6936; /* 👑 */
  --color-green-700: #2f4f29;
  --color-green-800: #1f341b;
  --color-green-900: #172714;
  --color-green-950: #101a0e;

  --color-orange-50: #fff6f1;
  --color-orange-100: #ffeee2;
  --color-orange-200: #ffddc6;
  --color-orange-300: #ffcba9;
  --color-orange-400: #ffba8d;
  --color-orange-500: #df884f;
  --color-orange-600: #bd6f3c; /* 👑 */
  --color-orange-700: #98552a;
  --color-orange-800: #85461e;
  --color-orange-900: #753a13;
  --color-orange-950: #592a0b;

  --color-red-50: #ffefef;
  --color-red-100: #ffdedf;
  --color-red-200: #ffbebf;
  --color-red-300: #ff9d9f;
  --color-red-400: #ff7d7f;
  --color-red-500: #d64a4c;
  --color-red-600: #ad3739; /* 👑 */
  --color-red-700: #852527;
  --color-red-800: #701c1d;
  --color-red-900: #5c1214;
  --color-red-950: #47090a;

  --color-blue-50: #f1f6fa;
  --color-blue-100: #e2edf4;
  --color-blue-200: #c5dbea;
  --color-blue-300: #a9cadf;
  --color-blue-400: #8cb8d5;
  --color-blue-500: #5a87a4;
  --color-blue-600: #45677e; /* 👑 */
  --color-blue-700: #2f4859;
  --color-blue-800: #253846;
  --color-blue-900: #1a2833;
  --color-blue-950: #101920;

  --color-gray-50: #fdfefe;
  --color-gray-100: #f9fafb;
  --color-gray-200: #eff2f6;
  --color-gray-300: #b9c4d5;
  --color-gray-400: #97a6be;
  --color-gray-500: #7685a2;
  --color-gray-600: #626c84; /* 👑 */
  --color-gray-700: #4d5260;
  --color-gray-800: #36383e;
  --color-gray-900: #272b30;
  --color-gray-950: #171c1f;

  --color-yellow-50: #fef8ed;
  --color-yellow-100: #dcefe3;
  --color-yellow-200: #fbe5b9;
  --color-yellow-300: #f8d795;
  --color-yellow-400: #f6ca72;
  --color-yellow-500: #c89b40;
  --color-yellow-600: #9d7930; /* 👑 */
  --color-yellow-700: #715621;
  --color-yellow-800: #5b4519;
  --color-yellow-900: #463411;
  --color-yellow-950: #30230a;

  --color-cherry-50: #f8f0f1;
  --color-cherry-100: #f1e0e4;
  --color-cherry-200: #e2c1c8;
  --color-cherry-300: #d4a3ad;
  --color-cherry-400: #c58491;
  --color-cherry-500: #bb6779;
  --color-cherry-600: #6e3d47; /* 👑 */
  --color-cherry-700: #49282f;
  --color-cherry-800: #371e23;
  --color-cherry-900: #251418;
  --color-cherry-950: #120a0c;

  --color-indigo-50: #f2f4fc;
  --color-indigo-100: #e5e9f9;
  --color-indigo-200: #cbd4f2;
  --color-indigo-300: #b2beec;
  --color-indigo-400: #98a9e5;
  --color-indigo-500: #6779bb;
  --color-indigo-600: #505f97; /* 👑 */
  --color-indigo-700: #394673;
  --color-indigo-800: #2e3961;
  --color-indigo-900: #222c4f;
  --color-indigo-950: #171f3d;

  --color-cyan-50: #e6eff0;
  --color-cyan-100: #d4e3e4;
  --color-cyan-200: #b1cccd;
  --color-cyan-300: #8db4b5;
  --color-cyan-400: #6a9d9e;
  --color-cyan-500: #468586;
  --color-cyan-600: #2a5050; /* 👑 */
  --color-cyan-700: #1c3536;
  --color-cyan-800: #152828;
  --color-cyan-900: #0e1b1b;
  --color-cyan-950: #070d0d;
}

:root {
  --logo-small-url: url('../assets/logo/logo-small.svg');
  --logo-large-url: url('../assets/logo/logo-sinequa.svg');
  --logo-large-alt-url: url('../assets/logo/logo-sinequa-blanc.svg');
  /*
    --logo-light-small and
    --logo-light-large
    are defined in the custom json
  */
  --logo-small: var(--logo-light-small, var(--logo-small-url));
  --logo-large: var(--logo-light-large, var(--logo-large-url));
  --logo-large-alt: var(--logo-large-alt-url);
  --logo-alt-text: 'Sinequa logo';

  --radius: 0.65rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  --card: var(--color-almond-50);
  --card-foreground: var(--color-almond-950);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: var(--color-sage-800);
  --primary-foreground: var(--color-sage-50);
  --primary-hovered: var(--color-sage-950);
  --primary-hovered-foreground: var(--color-white);
  --primary-pressed: var(--color-sage-300);
  --primary-pressed-foreground: var(--color-black);
  --primary-active: var(--color-primary);
  --primary-active-foreground: var(--color-white);
  --primary-disabled: var(--color-disabled);
  --primary-disabled-foreground: var(--color-muted);
  --primary-foreground-base: var(--color-sage-800);
  --primary-foreground-muted: var(--color-sage-500);
  --primary-foreground-hovered: var(--color-sage-900);
  --primary-foreground-pressed: var(--color-black);
  --primary-light: var(--color-sage-200);
  --primary-lighter: var(--color-sage-100);
  --primary-lightest: var(--color-sage-50);
  --primary-foreground-dark: var(--color-sage-975);

  --secondary: var(--color-sage-100);
  --secondary-foreground: var(--color-sage-900);
  --secondary-hovered: var(--color-sage-100);
  --secondary-hovered-foreground: var(--color-sage-900);
  --secondary-pressed: var(--color-sage-200);
  --secondary-pressed-foreground: var(--color-sage-950);
  --secondary-active: #fff;
  --secondary-active-foreground: var(--color-primary);
  --secondary-disabled: var(--color-disabled);
  --secondary-disabled-foreground: var(--color-muted);
  --secondary-base-alt: var(--color-almond-800);
  --secondary-foreground-hovered: var(--color-sage-900);
  --secondary-foreground-pressed: var(--color-almond-950);
  --secondary-foreground-base-alt: var(--color-almond-600);
  --secondary-light: var(--color-almond-200);
  --secondary-lighter: var(--color-almond-100);
  --secondary-lightest: var(--color-almond-50);

  --accent: var(--color-pink-200);
  --accent-foreground: var(--color-pink-900);
  --accent-alt: var(--color-pink-200);
  --accent-hovered: var(--color-pink-100);
  --accent-pressed: var(--color-pink-900);
  --accent-foreground-pressed: var(--color-pink-50);
  --accent-foreground-light: var(--color-pink-200);
  --accent-foreground-mute: var(--color-pink-800);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-hovered: var(--color-red-700);
  --destructive-pressed: var(--color-red-300);
  --destructive-alt: var(--color-red-200);
  --destructive-lighter: var(--color-red-100);
  --destructive-lightest: var(--color-red-50);
  --destructive-foreground: var(--color-red-800);
  --destructive-foreground-muted: var(--color-red-600);
  --destructive-foreground-light: var(--color-red-200);

  --focus: var(--color-pink-700);

  --neutral-foreground-muted: #626C84;
  --neutral-foreground-white: #FFFFFF;
  --neutral-foreground-black: #182021;
  --neutral-foreground-base: #36383E;
  --neutral-foreground-light: #EFF2F6;

  --gradient-name: linear-gradient(93deg, #1B97BF 0%, #8A3BFF 100%);

  --tool-card-bg: var(--color-gray-100);
  --tool-card-bg-hovered: rgba(229, 231, 235, 0.3);
  --tool-card-border: var(--color-gray-200);
  --tool-card-widget: white;

  --menu-bg: white;
  --menu-border: var(--color-gray-200);

  --chat-input-height: 150px;


  --disabled: var(--color-gray-200);
  --muted: var(--color-gray-200);
  --muted-foreground: oklch(0.552 0.016 285.938);


  --border: oklch(0.922 0 0);
  --input: var(--color-gray-50);
  --ring: var(--color-accent);
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);

  --sidebar: var(--color-sage-950);
  --sidebar-foreground: var(--color-sage-200);
  --sidebar-primary: oklch(0.648 0.2 131.684);
  --sidebar-primary-foreground: oklch(0.986 0.031 120.757);
  --sidebar-accent: oklch(from var(--color-sage-800) l c h / 30%);
  --sidebar-accent-foreground: var(--color-sage-50);
  --sidebar-active: var(--color-sage-700);
  --sidebar-active-foreground: var(--color-white);
  --sidebar-border: var(--color-sage-900);
  --sidebar-ring: var(--color-pink-400);

  --aside: var(--color-sage-50);
  --aside-border: var(--color-sage-200);

  --tooltip: var(--color-gray-700);
  --tooltip-foreground: var(--color-gray-50);

  --success: var(--color-green-200);
  --success-foreground: var(--color-green-800);
  --warning: var(--color-orange-200);
  --warning-foreground: var(--color-orange-800);
  --info: var(--color-blue-200);
  --info-foreground: var(--color-blue-800);
  --error: var(--color-red-200);
  --error-foreground: var(--color-red-800);

  --header: var(--color-sage-900);
  --header-foreground: var(--color-sage-50);

  --menu: var(--color-background);
  --menu-foreground: var(--color-foreground);

  --datepicker-today: var(--color-accent);

  /* used for dialog[open] backdrop */
  --backdrop: oklch(from var(--foreground) l c h / 50%);
  --backdrop-filter: blur(2px);

  --ai-from: var(--color-blue-500);
  --ai-via: #6c5ce7;
  --ai-to: #8a3bff;
  --ai-foreground: var(--color-white);
  --ai-card-foreground: var(--foreground); /* used in the ai card text */
  --ai-border: var(--border);

  /* Assistant  */
  --assistant: #ff732e;
  /* --assistant-primary-bg: light-dark(#f2f8fe, color-mix(in srgb, var(--primary), var(--background) 80%)); */
  /* --assistant-secondary-bg: light-dark(var(--color-almond-50), color-mix(in srgb, var(--assistant), var(--background) 90%)); */

  --ast-primary-color: var(--color-primary);
  --ast-primary-bg: var(--color-almond-100);
  --ast-primary-foreground: var(--color-almond-950);

  --ast-secondary-color: var(--color-pink-950);
  --ast-secondary-bg: var(--color-almond-50);
  --ast-secondary-foreground: var(--color-almond-950);
  --ast-color-strong: var(--color-gray-900);

  --ast-action-buttons-color: var(--color-foreground);
  --ast-action-buttons-hover-color: var(--color-primary);

  --ast-input-bg: var(--background);
  --ast-muted-color: var(--muted-foreground);

  --ast-uploaded-doc-hover-background: var(--color-neutral-700);
  --ast-reference-expanded-hover-bg: var(--background);
  --ast-reference-passages-color: var(--color-foreground);
  --ast-reference-icon-color: var(--color-foreground);
  --ast-saved-chat-hover-background: color-mix(in oklab, var(--color-foreground) 10%, transparent);

  --ast-message-table-border-color: var(--color-muted-foreground);
  --ast-message-table-tr-bg: var(--background);
  --ast-message-table-tr-border-color: var(--color-muted-foreground);

  --ast-message-reference-color: var(--color-cyan-950);
  --ast-reference-background-color: var(--color-pink-200);
}

.dark {
  --logo-small-url: url('../assets/logo/logo-small-blanc.svg');
  --logo-large-url: url('../assets/logo/logo-sinequa-blanc.svg');
  /*
    --logo-dark-small and
    --logo-dark-large
    are defined in the custom json
  */
  --logo-small: var(--logo-dark-small, var(--logo-small-url));
  --logo-large: var(--logo-dark-large, var(--logo-large-url));

  --background: var(--color-sage-975);
  --foreground: oklch(0.985 0 0);

  --card: var(--color-sage-950);
  --card-foreground: var(--color-green-50);

  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);

  --primary: var(--color-sage-950);
  --primary-foreground: var(--color-sage-300);
  --primary-hovered: var(--color-sage-900);
  --primary-pressed: var(--color-sage-800);
  --primary-pressed-foreground: var(--color-sage-300);
  --primary-active: var(--color-sage-600);
  --primary-active-foreground: var(--color-sage-50);
  --primary-disabled: var(--color-sage-800);
  --primary-disabled-foreground: var(--color-sage-500);
  --primary-foreground-base: var(--color-sage-100);
  --primary-foreground-muted: var(--color-sage-300);
  --primary-foreground-hovered: var(--color-sage-50);
  --primary-foreground-pressed: var(--color-sage-50);
  --primary-light: var(--color-sage-700);
  --primary-lighter: var(--color-sage-900);
  --primary-lightest: var(--color-sage-950);
  --primary-foreground-dark: var(--color-sage-50);

  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --secondary-hovered: var(--color-sage-900);
  --secondary-hovered-foreground: var(--color-sage-800);
  --secondary-pressed: var(--color-sage-800);
  --secondary-pressed-foreground: var(--color-sage-300);
  --secondary-active: var(--color-sage-600);
  --secondary-active-foreground: var(--color-sage-50);
  --secondary-disabled: var(--color-sage-800);
  --secondary-disabled-foreground: var(--color-sage-500);
  --secondary-base-alt: var(--color-almond-200);
  --secondary-foreground-hovered: var(--color-almond-100);
  --secondary-foreground-pressed: var(--color-almond-50);
  --secondary-foreground-base-alt: var(--color-almond-300);
  --secondary-light: var(--color-almond-800);
  --secondary-lighter: var(--color-almond-900);
  --secondary-lightest: var(--color-almond-950);

  --accent-alt: var(--color-pink-700);
  --accent-hovered: var(--color-pink-500);
  --accent-pressed: var(--color-pink-800);
  --accent-foreground-light: var(--color-pink-300);
  --accent-foreground-mute: var(--color-pink-50);

  --destructive: oklch(0.704 0.191 22.216);
  --destructive-hovered: var(--color-red-400);
  --destructive-pressed: var(--color-red-700);
  --destructive-alt: var(--color-red-800);
  --destructive-lighter: var(--color-red-900);
  --destructive-lightest: var(--color-red-950);
  --destructive-foreground: var(--color-red-100);
  --destructive-foreground-muted: var(--color-red-300);
  --destructive-foreground-light: var(--color-red-800);

  --neutral-foreground-white: #182021;
  --neutral-foreground-black: #EFF2F6;
  --neutral-foreground-base: #EFF2F6;
  --neutral-foreground-light: #36383E;

  --tool-card-bg: var(--color-sage-975);
  --tool-card-bg-hovered: rgba(45, 57, 58, 0.3);
  --tool-card-border: var(--color-sage-800);
  --tool-card-widget: var(--color-sage-950);

  --menu-bg: var(--color-sage-975);
  --menu-border: var(--color-sage-800);

  --disabled: var(--color-sage-800);
  --muted: var(--color-sage-950);
  --muted-foreground: var(--color-neutral-300);

  --border: oklch(1 0 0 / 10%);
  --input: var(--color-sage-950);

  --sidebar: var(--color-sage-900);
  --sidebar-foreground: var(--color-sage-100);
  --sidebar-primary: oklch(0.768 0.233 130.85);
  --sidebar-accent: oklch(from var(--color-sage-975) l c h / 30%);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-active: var(--color-sage-975);
  --sidebar-active-foreground: oklch(0.986 0.031 120.757);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--color-pink-700);

  --aside: var(--color-sage-950);
  --aside-border: oklch(1 0 0 / 10%);

  --tooltip: var(--color-gray-200);
  --tooltip-foreground: var(--color-gray-900);

  --gradient-name: linear-gradient(93deg, #9BD1F5 0%, #D997F1 100%);
  --backdrop: oklch(from var(--color-gray-500) 0.2 c h / 50%);

  & ul {
    color-scheme: dark;
  }
}

/*sidebar customizations*/
[data-slot="sidebar-inner"] {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

[data-sidebar="menu-button"] {
  padding-block: 1.125rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
}

.logo-collapse-container sidebar-trigger {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 2ms;
}

.logo-collapse-container sidebar-trigger button {
  width: 100%;
  height: 100%;
}

[data-collapsible="icon"] [data-slot="sidebar-inner"]:hover .logo-collapse-container sidebar-trigger {
  opacity: 1;
}

[data-collapsible="icon"] [data-slot="sidebar-inner"]:hover .logo-collapse-container .logo-small {
  opacity: 0;
}

[data-sidebar="trigger"] button:hover {
  background-color: var(--sidebar-accent);
  color: var(--sidebar-accent-foreground);
}

.heading-4 {
  @apply text-primary-foreground-muted text-xs font-semibold tracking-wider uppercase;
}