:root {
  --logo-small-url: url('../assets/logo/small.svg');
  --logo-large-url: url('../assets/logo/large.svg');
  --logo-small: var(--logo-small-url);
  --logo-large: var(--logo-large-url);
  --logo-large-alt: var(--logo-large);
  --logo-alt-text: 'Sinequa logo';

  --radius: 0.375rem;
  --radius-button: var(--radius-md);

  --background: white;
  --foreground: var(--color-gray-950);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(68.295% 0.00008 271.152);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);

  --header: var(--color-gray-50);
  --menu: var(--background);

  --primary: #0084ff;
  --primary-foreground: var(--background);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: var(--color-pink-200);
  --accent-foreground: var(--color-pink-900);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: var(--color-primary);

  --success: #2ed73f;
  --success-foreground: var(--color-green-800);
  --warning: var(--color-orange-200);
  --warning-foreground: var(--color-orange-800);
  --info: var(--color-blue-200);
  --info-foreground: var(--color-blue-800);
  --error: var(--color-red-200);
  --error-foreground: var(--color-red-800);

  --ai-from: #193cb8;
  --ai-via: #f6339a;
  --ai-to: #ff8904;
  --ai-foreground: var(--background); /* used in the button "ask ai" */
  --ai-card-foreground: var(--foreground); /* used in the ai card text */
  --ai-border: var(--border);

  --color-datepicker-today: var(--color-orange-300);

  --backdrop: oklch(from var(--foreground) l c h / 50%);
  --backdrop-filter: blur(2px);

  /* Assistant  */
  --assistant: #ff732e;
  --assistant-primary-bg: #f2f8fe;
  --assistant-secondary-bg: #fff8f1;

  --ast-primary-bg: var(--assistant-primary-bg);
  --ast-secondary-bg: var(--assistant-secondary-bg);
  --ast-action-buttons-color: var(--color-foreground);
  --ast-primary-color: var(--color-primary);
  --ast-input-bg: var(--background);
  --ast-muted-color: var(--muted-foreground);
}

.dark {
  --background: #282828;
  --foreground: #e5e5e5;

  --primary: #ff0055;
  --primary-foreground: var(--foreground);

  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(51.654% 0.01253 285.892);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);

  --header: var(--color-gray-800);

  --sidebar: var(--color-gray-900);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);

  --ai-foreground: var(--foreground);
  --ai-border: transparent;

  --backdrop: oklch(from var(--color-slate-500) 0.2 c h / 50%);

  --assistant-primary-bg: color-mix(in srgb, var(--primary), var(--background) 80%);
  --assistant-secondary-bg: color-mix(in srgb, var(--assistant), var(--background) 90%);
  --ast-uploaded-doc-hover-background: var(--color-neutral-700);

  /* Assistant  */
  --ast-primary-bg: var(--assistant-primary-bg);
  --ast-secondary-bg: var(--assistant-secondary-bg);
  --ast-reference-expanded-hover-bg: var(--background);
  --ast-reference-passages-color: var(--color-foreground);
  --ast-reference-icon-color: var(--color-foreground);
  --ast-saved-chat-hover-background: oklch(from var(--ast-secondary-bg) l c h);
  --ast-message-table-border-color: var(--color-muted-foreground);
  --ast-message-table-tr-bg: var(--background);
  --ast-message-table-tr-border-color: var(--color-muted-foreground);

  & ul {
    color-scheme: dark;
  }

  select > option {
    background-color: var(--background);
  }
}
