<label
  role="button"
  class="data-list-item leading-7 p-1 ps-2 gap-2 flex grow items-center text-sm"
>

  @if(item().hasChildren &&  !$any(item()).items) {
    <i (click)="open($event, item())" class="fas fa-angle-right"></i>
  }

  <input
    type="checkbox"
    value="{{ item().value }}"
    (keydown.enter)="select($event, item())"
    (click)="select($event, item())"
    [checked]="item().$selected"
  />

  @if (item().icon) {
    <i class="fa-fw {{ item().icon }} self-center justify-self-center"></i>
  }

  {{ item().display || item().value }}
</label>

@if($any(item()).hasChildren) {
  @for(item of $any(item()).items; track $index) {
    <app-aggregation-row class="ms-4"
      [aggregation]="aggregation()"
      [item]="item"
      (onOpen)="onOpen.emit($event)"
      (onSelect)="onSelect.emit($event)" />
  }
}
