<main class="col-start-2 col-span-2 mb-8">
  <app-filters class="sticky pt-4 pb-4 top-0 bg-gradient-to-b from-80% from-white" />

  @if (!people()) {
  <ul class="flex flex-col gap-2 mt-8">
    <li><app-article-person-skeleton /></li>
    <li><app-article-person-skeleton /></li>
    <li><app-article-person-skeleton /></li>
  </ul>
  } @else if (people()!.length > 0) {
  <ul class="flex flex-col gap-4 mt-8">
    @for (person of people(); track person.id) {
    <li>
      <app-article-person [person]="person" class="border border-gray-400 rounded-md p-4"></app-article-person>
    </li>
    }
  </ul>
  } @else {
  <p class="mt-8 text-gray-500 italic">No result for "<em class="not-italic font-semibold">{{ queryText() }}</em>"</p>
  }
</main>