<ul
  role="list"
  class="flex min-w-80 flex-col p-2"
  cdkDropList
  [cdkDropListData]="tmpAlerts"
  [cdkDropListDisabled]="!reordering()"
  (cdkDropListDropped)="dropped($event)">
  @if(floating) {
  <label class="text-xl font-bold">Alerts</label>
  <MenuSeparator />
  } @for (alert of tmpAlerts; track $index) {
  <li role="listitem" class="group h-10" tabindex="0" cdkDrag (click)="onClick($index)" (keydown.enter)="onClick($index)">
    <span class="grow"> {{ alert.name }} </span>
    @if (!reordering()) {
    <i class="fa-fw fa-regular fa-trash-can" (click)="deleteAlert($event, $index)"></i>
    } @else {
    <i class="fa-fw fa-regular fa-bars"></i>
    }
  </li>
  } @empty {
  <li role="listitem" class="py-4 text-center text-neutral-500">{{ 'alert.noAlerts' | transloco }}</li>
  }
</ul>
<div class="flex flex-col gap-2 p-2">
  <button variant="outline" class="w-full" tabindex="0" [attr.title]="'alert.manageAlerts' | transloco" [disabled]="!alerts().length" (click)="reorder()">
    {{ (reordering() ? 'save' : 'alert.manageAlerts') | transloco }}
  </button>
  <button class="w-full" [attr.title]="'alert.createAlert' | transloco" (click)="createAlert()">{{ 'alert.createAlert' | transloco }}</button>
</div>
