<div (click)="drawer.toggleExtension()" (keydown.escape)="drawer.toggleExtension()" [attr.aria-hidden]="true"></div>

<div class="flex overflow-auto bg-white">
  <div
    #drawerHandle
    class="fixed h-full w-[5px] select-none hover:cursor-ew-resize hover:bg-orange-300"
    [ngClass]="{ hidden: (drawer.isExtended | async) === false }"></div>

  @if (previewType()) {
    <ng-container *ngComponentOutlet="previewType()!; inputs: inputs()" />
  }
</div>

@if (article()) {
  <div class="flex flex-col border-l bg-white">
    <div class="relative flex grow flex-col">
      <app-advanced-search class="absolute h-full w-full overflow-y-auto" [article]="article()!" (close)="drawer.collapse()" />
    </div>
  </div>
}
