@if (suggestions()) {
  <ul
    id="search-suggestions"
    class="z-10 mb-2 max-h-80 overflow-auto overscroll-contain rounded-b-lg bg-menu px-2 pb-1 text-foreground"
    role="listbox"
    aria-label="suggestions list">
    @for (suggest of suggestions(); track $index) {
      @if (suggest.$isDivider) {
        <Separator />
      } @else if (suggest.$isTitle) {
        <li role="presentation" class="sticky top-0 cursor-pointer bg-inherit p-2 text-xs font-semibold text-muted-foreground">
          {{ suggest.category | transloco }}
        </li>
      } @else {
        <li
          role="option"
          class="data-list-item flex cursor-pointer items-center gap-2 p-2 aria-selected:bg-foreground/10"
          [id]="'search-suggestion-' + $index"
          [attr.data-text]="suggest.display"
          [attr.aria-label]="suggest.display">
          <ng-container *ngComponentOutlet="getIconForCategory(suggest.category); inputs: { class: 'size-4' }"></ng-container>

          <p class="line-clamp-1 text-ellipsis">
            @for (chunk of suggest.display! | highlightWord: text() : 10; track $index) {
              <span [class]="{ 'font-bold': chunk.match }">{{ chunk.text }}</span>
            }
          </p>
        </li>
      }
    } @empty {
      <span class="px-2 text-muted-foreground">
        {{ "searchInput.noSuggestions" | transloco }}
      </span>
    }
  </ul>
}
@if (advancedSearch()) {
  <Separator />
  <button class="m-2 h-7 text-xs" (click)="openAdvancedSearch()">
    <sliders-icon />
    {{ "searchInput.advancedSearch" | transloco }}
  </button>
}

<!-- advanced filters -->
<sheet
  [class]="cn('max-w-full py-2 md:min-w-[75%] lg:min-w-[50%]', breakpointService.isMobile() && 'w-full')"
  [open]="isAdvancedSearchOpen()"
  (openChange)="isAdvancedSearchOpen.set($event)">
  <advanced-filters />
</sheet>
