<div class="relative">
  @if(show){
    <div class="
        border
        border-gray-300
        bg-white
        rounded-md
        p-3
        right-0
        min-w-[220px]
        top-1
        w-full
        absolute
        z-10
      ">
      <ul class="
          [&>li]:text-sm
          [&>li]:cursor-pointer
          [&>li]:px-2
          [&>li]:py-1
          [&>li]:rounded-md
          [&>li]:transition-all
          hover:[&>li]:bg-gray-100
          active:[&>li]:bg-gray-200 active:[&>li]:scale-[0.99]
        ">
        <ng-content></ng-content>
      </ul>
    </div>
  }
</div>