<DrawerNavbar>
  @if (navConfig.showOpenButton) {
    <li>
      <button variant="ghost" [attr.title]="'open' | transloco" [disabled]="!hasExternalLink()" (click)="openClicked()">
        <i class="fa-fw far fa-arrow-up-right-from-square"></i>
        {{ 'open' | transloco }}
      </button>
    </li>

    <li role="presentation">
      <VerticalDivider />
    </li>
  }

  @if (canBookmark()) {
    <li>
      <button variant="ghost" size="icon" [attr.title]="'bookmark.bookmarkDocument' | transloco">
        <bookmark-button [article]="article()!" />
      </button>
    </li>
  }

  @if (hasExternalLink()) {
    <li>
      <button variant="ghost" size="icon" [attr.title]="'preview.copyPreviewLink' | transloco" (click)="copyLink()">
        @if (copied) {
          <circle-check class="size-4" />
        } @else {
          <link-icon class="size-4" />
        }
      </button>
    </li>
  }

  @if (navConfig.showSearchButton && article()) {
    <li class="ml-auto *:flex *:items-center *:gap-2 *:text-nowrap">
      @if (isExtended()) {
        <button variant="outline" (click)="drawerStack.extend()">
          <i class="fa-fw far fa-eye-slash"></i>
          {{ 'preview.hideSearch' | transloco }}
        </button>
      } @else {
        <button (click)="drawerStack.extend()">
          <i class="fa-fw far fa-eye"></i>
          {{ 'preview.searchInDocument' | transloco }}
        </button>
      }
    </li>
  }
</DrawerNavbar>
