<app-sidebar />
<!-- class="fixed top-0 h-full" -->

<app-user-menu class="absolute right-0 mt-4 pr-10" />

<div class="col-span-2 col-start-2">
  <header class="flex h-1/3">
    <img class="mx-auto mt-auto mb-16 w-64 content-[var(--logo-large)/var(--logo-alt-text)]" alt="logo" />
  </header>

  <main class="flex h-[50vh] flex-col gap-16">
    <app-search (debounced)="searchText.set($event)" (validated)="search($event)" (selected)="selected($event)">
      <app-autocomplete [text]="searchText()" />
      @if (allowFilters()) {
        <SearchFooter>
          <filters-bar [aggregations]="aggregations()" showMoreFiltersButton="false" [offset]="4" />
        </SearchFooter>
      }
    </app-search>

    <Tabs class="flex max-h-full grow flex-col">
      <TabsList class="flex w-full font-semibold" role="tablist" aria-label="widgets tabs">
        @for (tab of tabs(); track tab.label) {
          <tab variant="default" role="tab" [value]="tab.label" class="w-fit" [attr.disabled]="tab.disabled ?? null" [active]="$first">
            <ng-container *ngComponentOutlet="tab.icon" />
            <span class="truncate">{{ tab.label | transloco }}</span>
          </tab>
        }
      </TabsList>

      <div class="scrollbar-thin my-2 overflow-y-auto">
        @for (tab of tabs(); track tab.label) {
          <TabContent [value]="tab.label">
            <ng-container *ngComponentOutlet="tab.component; inputs: tab.inputs" />
          </TabContent>
        }
      </div>

      <Separator />
    </Tabs>
  </main>
</div>
