<menu>
  <Avatar class="cursor-pointer">
    <AvatarImage src="" width="44" height="44" alt="avatar" />
    <AvatarFallback>
      @if (initials()) {
        <span>{{ initials() }}</span>
      } @else {
        <UserIcon class="size-7 p-1" />
      }
    </AvatarFallback>
  </Avatar>

  <!-- min-w-max used to display all the content -->
  <!-- language selection -->
  <MenuContent position="bottom-start" class="min-w-max">
    <menu position="left-start" class="dropdown-content">
      <menuitem>
        <span class="grow">{{ 'userMenu.selectLanguage' | transloco }}</span>
        <ChevronRight class="size-4" />
      </menuitem>

      <!-- max with to fit content but min width is 10rem (160px) -->
      <MenuContent position="left-start" class="max-w-fit min-w-40">
        <menuitem (click)="changeLanguage('en')" class="justify-between">
          <span>{{ 'userMenu.english' | transloco }}</span>
          <FlagEnglish class="size-4" />
        </menuitem>

        <menuitem (click)="changeLanguage('fr')" class="justify-between">
          <span>{{ 'userMenu.french' | transloco }}</span>
          <FlagFrench class="size-4" />
        </menuitem>
      </MenuContent>
    </menu>

    <!-- theme selection -->
    <menu position="left-start" class="dropdown-content">
      <menuitem>
        <span class="grow">{{ 'userMenu.selectTheme' | transloco }}</span>
        <ChevronRight class="size-4" />
      </menuitem>

      <!-- max with to fit content but min width is 10rem (160px) -->
      <MenuContent position="left-start" class="max-w-fit min-w-40">
        <menuitem (click)="switchTheme('light')" class="justify-between">
          <span>{{ 'userMenu.lightMode' | transloco }}</span>
          <i class="fa-fw fal fa-sun-bright"></i>
        </menuitem>

        <menuitem (click)="switchTheme('dark')" class="justify-between">
          <span>{{ 'userMenu.darkMode' | transloco }}</span>
          <i class="fa-fw fal fa-moon"></i>
        </menuitem>

        <menuitem (click)="switchTheme('system')" class="justify-between">
          <span>{{ 'userMenu.systemMode' | transloco }}</span>
          <i class="fa-fw fal fa-desktop"></i>
        </menuitem>
      </MenuContent>
    </menu>

    <menuitem variant="destructive" (click)="handleResetUserSettings()">
      <i class="fa-fw fal fa-trash text-[16px]"></i>
      <span>{{ 'userMenu.resetUserSettings' | transloco }}</span>
    </menuitem>

    @if (isOverridingUser()) {
      <HorizontalDivider />
    }

    @if (allowUserOverride() && !isOverridingUser()) {
      <menuitem (click)="handleOverride()">
        <i class="fa-fw fal fa-user-secret text-[16px]"></i>
        <span>{{ 'userMenu.overrideUser' | transloco }}</span>
      </menuitem>
    } @else if (isOverridingUser()) {
      <menuitem (click)="handleOverrideUser()">
        <i class="fa-fw fal fa-user text-[16px]"></i>
        <span>{{ 'userMenu.revertOverride' | transloco }}</span>
      </menuitem>
    }

    <HorizontalDivider />

    <menuitem (click)="openSinequa()" class="justify-between">
      <img class="size-4" src="assets/logo/small.svg" alt="sinequa logo" />
      <span class="grow">{{ 'userMenu.aboutSinequa' | transloco }}</span>
      <i class="fa-fw far fa-arrow-up-right-from-square text-[12px]"></i>
    </menuitem>

    <menuitem (click)="handleLogout()">
      <i class="fa-fw fal fa-arrow-right-from-bracket text-[16px]"></i>
      <span class="grow">{{ 'logout' | transloco }} {{ user().fullName || user().name }}</span>
    </menuitem>
  </MenuContent>
</menu>

<override-user-dialog />
<reset-user-settings-dialog />
