@if (missingTerms().length > 0) {
    <span class="terms-label">{{ 'article.missingTerms' | transloco }}</span>
    <span class="terms">
        @for (term of missingTerms(); track $index) {
        <span class="term ms-1">{{term}}</span>
        }
    </span>
    <span class="mx-1">|</span>
    <span class="terms-label ms-1">{{ 'article.mustInclude' | transloco }}</span>
    <span class="terms">
        @for (term of missingTerms(); track $index) {
        <a role="button" class="ms-1" routerLink="search" [queryParams]="term.queryParams">{{ term.value }}</a>
        }
    </span>
}