<div stkSkeleton class="size-5 rounded-full"></div>

<div class="grow flex flex-col gap-2">
  <div class="flex gap-2 items-baseline">
    <div class="w-[15%]">
      <div stkSkeleton></div>
    </div>

    <div stkSkeleton class="h-4 pill pill-xs w-[50%]"></div>
  </div>

  <div class="flex gap-2 divide-x-slash divide-xs">
    <div stkSkeleton class="h-4 pill pill-xs w-[30%]"></div>
    <div stkSkeleton class="h-4 pill pill-xs w-[20%]"></div>
    <div stkSkeleton class="h-4 pill pill-xs w-[30%]"></div>
  </div>
</div>