<!-- Main content goes here -->
<sidebar-provider [style.--sidebar-width-icon]="'4rem'">
  @if (!isAuthRoute()) {
    <app-sidebar />
  }

  <sidebar-inset class="w-95 overflow-hidden">
    <div>
      <header class="fixed top-0 z-10 flex h-14 w-full shrink-0 items-center gap-2 border-b border-gray-200 bg-background px-4 md:hidden">
        <sidebar-trigger
          [style.--sidebar-accent]="'var(--color-almond-100)'"
          [style.--sidebar-accent-foreground]="'var(--color-almond-950)'"
          class="rounded-full" />
      </header>
      <router-outlet></router-outlet>
    </div>
  </sidebar-inset>
</sidebar-provider>

<MultiSelectionToolbar class="z-(--z-multiselection)" (updatedCollections)="onUpdatedCollections()" />

<ngx-sonner-toaster
  expand
  visibleToasts="10"
  [toastOptions]="{
    unstyled: true,
    classes: {
      toast: 'min-w-80 w-80 flex gap-1 items-center shadow-md rounded-md p-4',
      success: 'bg-success text-success-foreground',
      error: 'bg-error text-error-foreground',
      info: 'bg-info text-info-foreground',
      warning: 'bg-warning text-warning-foreground'
    }
  }" />
