<ul class="flex min-w-80 flex-col p-2">
  @if(floating) {
  <label class="text-xl font-bold">Collections</label>
  <MenuSeparator />
  } @for (collection of collections(); track $index) {
  <li role="listitem" class="group h-10" tabindex="0" (click)="onClick(collection)" (keydown.enter)="onClick(collection)">
    <i class="fas fa-inbox"></i> {{ collection.name }}

    <button
      variant="icon"
      class="invisible ms-auto text-destructive transition-transform hover:scale-125 hover:text-destructive group-hover:visible"
      title="{{'collection.deleteCollection' | transloco}}"
      [attr.aria-label]="'collection.deleteCollection' | transloco"
      (click)="onDelete(collection, $index, $event)">
      <i class="fa-fw fa-regular fa-trash-can" aria-hidden="true"></i>
    </button>
  </li>
  } @empty {
  <li role="listitem" class="py-4 text-center text-neutral-500">{{ 'collection.noCollections' | transloco }}</li>
  } @if (showButtons()) {
  <li class="mt-2">
    <button
      class="w-full"
      tabindex="0"
      [attr.title]="'collection.manageCollections' | transloco"
      [disabled]="!collections().length"
      (click)="manageCollections()">
      {{ 'collection.manageCollections' | transloco }}
    </button>
  </li>
  }
</ul>

<delete-collection-dialog />
