<ul class="flex flex-col">
  @for (collection of collections(); track $index) {
    <li
      class="group flex h-10 cursor-pointer items-center gap-2 rounded px-3 py-2 hover:bg-secondary hover:text-primary focus:bg-secondary focus:text-primary focus:outline-none"
      tabindex="0"
      (click)="onClick(collection)"
      (keydown.enter)="onClick(collection)">
      {{ collection.name }}
    </li>
  } @empty {
    <li class="py-4 text-center text-neutral-500">
      {{ 'collection.noCollections' | transloco }}
    </li>
  }
  <li class="flex flex-row-reverse gap-2 py-4 text-center text-neutral-500">
    <button
      class="btn btn-tertiary flex justify-center px-3 py-2"
      tabindex="0"
      [attr.title]="'collection.manageCollections' | transloco"
      [disabled]="!collections().length"
      (click)="manageCollections()">
      {{ 'collection.manageCollections' | transloco }}
    </button>
    <button
      class="btn btn-tertiary flex justify-center px-3 py-2"
      tabindex="1"
      [attr.title]="'collection.createCollection' | transloco"
      (click)="createCollection()">
      {{ 'collection.createCollection' | transloco }}
    </button>
  </li>
</ul>

<create-collection-dialog />
<manage-collections-dialog [collections]="collections()" />
