<Dropdown class="w-full">
  <form [formGroup]="form">
    @let placeholder = "searchInput.placeholder" | transloco;
    <SearchInput
      class="h-9 p-0 text-foreground"
      id="autocomplete-anchor"
      controls="search-suggestions"
      [variant]="variant()"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      [control]="form.controls.searchInputText"
      (onSelected)="onSelected($event)">
      @if (showSave() && (searchInputText() !== "" || hasFilters())) {
        <SavedSearchPopover [queryText]="searchInputText()" (onSavedSearch)="saved.emit($event)" />
      }

      @if (allowAI()) {
        @let askAI = "askAI" | transloco;
        <button
          variant="ai"
          size="xs"
          class="hidden rounded-sm transition ease-in sm:inline-flex"
          [attr.title]="askAI"
          [attr.aria-label]="askAI"
          (click)="handleRouting($event)"
          [disabled]="searchInputText() === ''">
          <sparkles-icon class="me-1" aria-hidden="true" />
          {{ askAI }}
        </button>
      }
      @let searchLabel = "search" | transloco;
      <button
        variant="icon"
        size="xs"
        [iconOnly]="true"
        class="transition-transform duration-200 ease-in-out hover:scale-110"
        [title]="searchLabel"
        [attr.aria-label]="searchLabel"
        [attr.aria-disabled]="!allowEmptySearch() && this.searchInputText() === ''"
        [disabled]="!allowEmptySearch() && this.searchInputText() === ''"
        (keydown.enter)="onSearch($event)"
        (click)="onSearch($event)">
        <SendHorizontalIcon />
      </button>
    </SearchInput>
  </form>
  <DropdownContent>
    <ng-content></ng-content>
  </DropdownContent>
</Dropdown>
<SearchInputFooter class="block pt-2 empty:pt-0" (click)="handleClick($event)">
  <ng-content select="SearchFooter" />
</SearchInputFooter>
