:root {
  --ast-chat-padding-top: 1rem;
  --ast-chat-padding-bottom: 1rem;
}

.ast-error {
  display: none !important;
}

:host {
  &[no-progress='true'] {
    background-color: brown;
  }
}

.spinner-grow .visually-hidden {
  visibility: hidden;
}

.spinner-grow {
  width: 16px;
  height: 16px;
  border: 3px solid;
  border-color: theme('colors.primary.DEFAULT');
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div > ul {
  flex-grow: 1;
}

sq-chat-message:has(.message-assistant) {
  align-content: flex-end;
  justify-content: flex-end;
}
