<sidebar class="w-fit">
  <div class="mt-30 grow">
    @if (backLevel()) {
      <sidebar-item class="aspect-square size-9" title="Search" [attr.aria-label]="'Search'" (click)="location.historyGo(backLevel())">
        <magnifying-glass-icon />
      </sidebar-item>
    } @else {
      <sidebar-item class="aspect-square size-9" title="Search" [attr.aria-label]="'Search'" routerLink="/home">
        <magnifying-glass-icon />
      </sidebar-item>
    }

    <sidebar-item
      class="aspect-square size-9"
      [class]="cn('invisible', allowAI() && 'visible')"
      title="Chats"
      [attr.aria-label]="'Chats'"
      routerLink="/assistant">
      <comment-icon />
    </sidebar-item>

    <ng-content></ng-content>
  </div>

  @if (isAdmin()) {
    <sidebar-item class="aspect-square size-9" title="Administration" [attr.aria-label]="'Administration'" (click)="openAdmin()">
      <gear-icon />
    </sidebar-item>
  }

  <sidebar-item class="aspect-square size-9" title="Help" [attr.aria-label]="'Help'" (click)="openHelp()">
    <question-circle-icon />
  </sidebar-item>
</sidebar>
