<a id="navbar-logo" routerLink="/home" class="ps-10 self-center">
  <img src="assets/logo/large.svg" alt="sinequa logo" class="max-h-8" />
</a>

<div class="col-span-2 flex items-center">
    <app-search-input
      class="flex grow h-7"
      [showSave]="true"
      (saved)="saveSearch()"
      (validated)="validated($event)"
      (debounced)="debounced($event)"
    >
      <app-autocomplete
        [text]="searchText()"
        (onClick)="autocompleteItemClicked($event)"
      />
    </app-search-input>
</div>

<menu class="flex justify-end gap-3 items-center pe-10">
  @for (menu of menus; track $index) {
    <li>
      @if (menu.component) {
        <sq-dropdown class="dropdown-end z-50 border-neutral-300 rounded-lg">
          <button class="btn btn-ghost" title="{{ menu.display }}" role="button" [attr.aria-label]="menu.display">
            <i class="fa-fw {{ menu.iconClass }} " aria-hidden="true"></i>
          </button>

          <div dropdown-content class="absolute w-[380px] max-w-md dropdown-content">
            <ng-container [ngComponentOutlet]="menu.component"></ng-container>
          </div>
        </sq-dropdown>
      }
      @else {
        <button class="btn btn-ghost" title="{{ menu.display }}" role="button" [attr.aria-label]="menu.display">
          <i class="fa-fw {{ menu.iconClass }} " aria-hidden="true"></i>
        </button>
      }
    </li>
  }
  <li class="shrink-0">
    <app-user-menu/>
  </li>
</menu>

<div class="row-start-2"></div>

<nav class="col-start-2 col-span-2 absolute -bottom-[1px] w-full overflow-x-auto">
  <ul class="col-start-2 col-span-2 flex">
    @for (tab of tabs; track $index) {
    <li>
      <button
        class="first-letter:capitalize tab aria-selected:text-primary aria-selected:border-primary whitespace-nowrap"
        (click)="changeTab(tab)"
        [attr.aria-selected]="(navigationService.path$ | async) === tab.name"
        [attr.aria-label]="tab.display"
        >
        <i class="fa-fw {{ tab.iconClass }} " aria-hidden="true"></i>
        {{ tab.display | syslang | transloco }}
      </button>
    </li>
    }
  </ul>
</nav>

<div class="row-start-2 col-start-4"></div>