<a id="navbar-logo" routerLink="/home" class="self-center ps-10">
  <img src="assets/logo/large.svg" alt="sinequa logo" class="max-h-8" />
</a>

<div class="col-span-2 flex h-full items-center">
  <app-search-input class="flex h-7 grow" [showSave]="true" (saved)="saveSearch()" (validated)="validated($event)" (debounced)="debounced($event)">
    <app-autocomplete [text]="searchText()" (onClick)="autocompleteItemClicked($event)" />
  </app-search-input>
</div>

<nav class="flex list-none items-center justify-end gap-1 pe-10">
  @for (menu of menus; track $index) {
    <li>
      @if (menu.routerLink === router.url) {
        <button title="{{ menu.display }}" role="button" [attr.aria-label]="menu.display">
          <i class="fa-fw {{ menu.iconClass }} " aria-hidden="true"></i>
        </button>
      } @else if (menu.component) {
        <Popover class="rounded-lg border-neutral-300">
          <button variant="ghost" size="icon" title="{{ menu.display }}" role="button" [attr.aria-label]="menu.display">
            <i class="fa-fw {{ menu.iconClass }} " aria-hidden="true"></i>
          </button>

          <PopoverContent class="w-[380px] max-w-md" position="bottom-end">
            <ng-container [ngComponentOutlet]="menu.component"></ng-container>
          </PopoverContent>
        </Popover>
      } @else {
        <button variant="icon" size="icon" title="{{ menu.display }}" role="button" [attr.aria-label]="menu.display">
          <i class="fa-fw {{ menu.iconClass }} " aria-hidden="true"></i>
        </button>
      }
    </li>
  }
  <li class="shrink-0">
    <app-user-menu />
  </li>
</nav>

<div overflowManager class="relative col-span-2 col-start-2 row-start-2 flex" (count)="visibleTabCount.set($event)">
  <ul class="flex">
    @for (tab of tabs(); track $index) {
      <li
        overflowItem
        class="cursor-pointer select-none px-2 py-3 font-semibold"
        routerLinkActive="text-primary border-b border-primary aria-selected:border-primary aria-selected:text-primary">
        <a
          role="tab"
          id="tab-{{ tab.name }}"
          class="inline-block whitespace-nowrap first-letter:capitalize"
          [routerLink]="[tab.routerLink]"
          [queryParams]="{ queryName: tab.queryName, q: searchText(), t: tab.name, f: undefined, sort: undefined, id: undefined, page: undefined }"
          [attr.aria-selected]="(navigationService.path$ | async) === tab.name"
          [attr.aria-label]="tab.display | syslang | transloco"
          (click)="changeTab(tab)">
          <i class="fa-fw {{ tab.iconClass }} " aria-hidden="true"></i>
          {{ tab.display | syslang | transloco }}
        </a>
      </li>
    }
  </ul>

  @if (moreTabs().length > 0) {
    <Menu class="absolute bottom-0 right-0" overflowStop>
      <button variant="ghost" size="sm" class="mb-1 truncate" aria-label="more tabs">
        <span>{{ 'more' | transloco }}</span>
        <i class="fa-fw fal fa-chevron-down"></i>
      </button>

      <MenuContent class="w-fit" position="bottom-end">
        @for (tab of moreTabs(); track $index) {
          <MenuItem>
            <a
              class="inline-block whitespace-nowrap first-letter:capitalize"
              [routerLink]="[tab.routerLink]"
              routerLinkActive="text-primary aria-selected:text-primary"
              [queryParams]="{ queryName: tab.queryName, q: searchText(), t: tab.name, f: undefined, sort: undefined, id: undefined, page: undefined }"
              [attr.aria-selected]="(navigationService.path$ | async) === tab.name"
              [attr.aria-label]="tab.display | syslang | transloco"
              (click)="changeTab(tab)">
              <i class="fa-fw {{ tab.iconClass }} " aria-hidden="true"></i>
              {{ tab.display | syslang | transloco }}
            </a>
          </MenuItem>
        }
      </MenuContent>
    </Menu>
  } @else {
    <div class="absolute right-0" overflowStop></div>
  }
</div>
