<menu>
  <button tabindex="0" variant="ghost" [attr.title]="'sortSelector.selectSort'">
    <i class="fa-fw fa-regular fa-arrow-{{ sort()?.$isDesc ? 'down' : 'up' }}-big-small me-1"></i>
    <span>{{ sort()?.display | transloco }}</span>
  </button>

  <MenuContent position="bottom-start">
    @if (sortOptions().length > 0) { @for (option of sortOptions(); track $index) {
    <menuitem (click)="onSortOptionClicked(option)" class="justify-between">
      <span>{{ option.display | transloco }}</span>
      <i class="fa-fw fa-regular fa-arrow-{{ option.$isDesc ? 'down' : 'up' }}-big-small"></i>
    </menuitem>
    } }
  </MenuContent>
</menu>
