@if (displaySummary() || displayChatWithDoc()) {
  <Tabs class="w-full px-6" variant="ghost">
    <Tab class="w-fit" shadow="none" value="previewTab-preview" [active]="activeTab() === 'preview'" (click)="activeTab.set('preview')">
      {{ 'preview.documentPreview' | transloco }}
    </Tab>

    @if (displaySummary()) {
      <Tab class="w-fit" variant="ai" shadow="none" value="previewTab-summary" [active]="activeTab() === 'summary'" (click)="setSummaryAssistant()">
        @if (isStreaming()) {
          <i class="fa-solid fa-spinner animate-spin"></i>
        } @else {
          <i class="fa-solid fa-sparkles"></i>
        }
        {{ 'preview.summarize' | transloco }}
      </Tab>
    }

    @if (displayChatWithDoc()) {
      <Tab class="w-fit" variant="ai" shadow="none" value="previewTab-discussion" [active]="activeTab() === 'discussion'" (click)="setChatWithDocAssistant()">
        <i class="fa-solid fa-comments"></i>
        {{ 'preview.discussion' | transloco }}
      </Tab>
    }
  </Tabs>
}
