extractspanel .company {
  color: white;
  background-color: #ff7675;
}

extractspanel .geo {
  color: white;
  background-color: #74b9ff;
}

extractspanel .person {
  color: white;
  background-color: #00abb5;
}

extractspanel .money {
  color: white;
  background-color: #85bb65;
}

extractspanel .entity12 {
  color: white;
  background-color: #ffd700;
}

extractspanel .extractslocations {
  color: black;
  background-color: #fffacd;
}

extractspanel .matchlocations {
  color: black;
  background-color: #ff0;
}
