@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "../node_modules/@sinequa/atomic-angular/assets/tailwind.css"; */

@import "../node_modules/toolkit/styles/keyframes.css";
@import "../node_modules/toolkit/styles/panel.css";
@import "../node_modules/toolkit/styles/skeleton.css";

@import "./styles/layouts.scss";
@import "./styles/box-shadows.scss";
@import "./styles/colors.scss";
@import "./styles/collapse.scss";
@import "./styles/design-system/design-system.scss";
@import "./styles/animations.scss";
@import "./styles/drawer-stack.scss";
@import "./styles/panel.scss";
@import "./styles/dropdown.scss";
/* @import "./styles/checkbox.scss"; */
@import "./styles/radio.scss";


html {
  overflow-x: hidden;
}

/* Override to hide bootstrap spinner */
.spinner-grow {
  display: none !important;
}

/* allow multi-line text in the taost description */
[data-description] {
  white-space: pre-line;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}