/* Force dark mode to be used with .dark class */
@custom-variant dark (&:where(.dark, .dark *));

@import './theme.utilities';

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-950);

  --primary: #0084ff;
  --secondary: #e00b73;
  --destructive: #e80707;
  --success: #2ed73f;

  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-600);

  --sidebar: oklch(from var(--background) calc(l - var(--shift)) c h);
  --header: var(--background);
  --backdrop: oklch(from var(--foreground) l c h / 50%);

  --assistant: #ff732e;
  --assistant-primary-bg: #f2f8fe;
  --assistant-secondary-bg: #fff8f1;
}

.dark {
  --background: oklch(from var(--color-zinc-800) l c calc(h + 0));
  --foreground: var(--color-gray-200);

  --muted-foreground: oklch(from var(--foreground) calc(l - var(--shift-6)) c h);
  --muted: oklch(from var(--background) calc(l - var(--shift-\.5)) c h);

  --sidebar: oklch(from var(--background) calc(l + var(--shift-\.5)) c h);
  --header: oklch(from var(--background) calc(l + var(--shift)) c h);
  --backdrop: oklch(from var(--background) l c h / 70%);

  --assistant-primary-bg: color-mix(in srgb, var(--primary), var(--background) 80%);
  --assistant-secondary-bg: color-mix(in srgb, var(--assistant), var(--background) 90%);
}
