/* Sinequa datepicker css */
@import "@sinequa/ui/css/datepicker/styles.css";
@import "./styles/animations.css";
@import "./styles/utilities.css";

/* css third-components overrides */
@import "./css-overrides/styles.css";

/* Hanken Grotesk Font Family */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Force dark mode to be used with .dark class */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #f2f2f3;
  --color-black: #182021;

  --radius: 0.625rem;
  --radius-sm: 0.5rem;
  --radius-button: 100vw;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hovered: var(--primary-hovered);
  --color-primary-hovered-foreground: var(--primary-hovered-foreground);
  --color-primary-pressed: var(--primary-pressed);
  --color-primary-pressed-foreground: var(--primary-pressed-foreground);
  --color-primary-active: var(--primary-active);
  --color-primary-active-foreground: var(--primary-active-foreground);
  --color-primary-disabled: var(--primary-disabled);
  --color-primary-disabled-foreground: var(--primary-disabled-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hovered: var(--secondary-hovered);
  --color-secondary-hovered-foreground: var(--secondary-hovered-foreground);
  --color-secondary-pressed: var(--secondary-pressed);
  --color-secondary-pressed-foreground: var(--secondary-pressed-foreground);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-active-foreground: var(--secondary-active-foreground);
  --color-secondary-disabled: var(--secondary-disabled);
  --color-secondary-disabled-foreground: var(--secondary-disabled-foreground);

  --color-disabled: var(--disabled);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-active: var(--sidebar-active);
  --color-sidebar-active-foreground: var(--sidebar-active-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-aside: var(--aside);
  --color-aside-border: var(--aside-border);

  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-menu: var(--menu);
  --color-menu-foreground: var(--menu-foreground);

  --color-ai-from: var(--ai-from);
  --color-ai-via: var(--ai-via);
  --color-ai-to: var(--ai-to);
  --color-ai-foreground: var(--ai-foreground);
  --color-ai-card-foreground: var(--ai-card-foreground);
  --color-ai-border: var(--ai-border);

  --color-datepicker-today: var(--datepicker-today);

  --color-assistant: var(--assistant);
  --color-assistant-primary-bg: var(--assistant-primary);
  --color-assistant-secondary-bg: var(--assistant-secondary);

  --drawer-box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  --cdk-z-index-overlay: 5000;

  /* z-indexes */
  --z-menu: 100;
  --z-popover: 100;
  --z-dropdown: 100;
  --z-drawer: 2000;
  --z-backdrop: 1000;
  --z-multiselection: 2050;

  /* font sizes */
  --text-2xs: 10px;
  --text-2xs-line-height: 10px;
}

@layer base {
  :root {
    /* Dark scrollbar for Firefox */
    scrollbar-color: var(--muted-foreground) transparent;
  }

  /* Dark scrollbar for WebKit browsers */
  & ::-webkit-scrollbar-track {
    background: var(--background);
  }

  & ::-webkit-scrollbar-thumb {
    background-color: var(--muted-foreground);
    border-radius: 6px;
    border: 2px solid var(--background);
  }

  & ::-webkit-scrollbar-thumb:hover {
    background-color: var(--foreground);
  }

  /* manage the backdrop with dialogs */
  dialog {
    /* opacity: 0; */
    transition: opacity 0.2s ease-out allow-discrete;

    &:open {
      opacity: 1;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.7s allow-discrete;
    }
    &:open::backdrop {
      background-color: var(--backdrop);
      backdrop-filter: var(--backdrop-filter);
    }
  }

  @starting-style {
    dialog:open {
      opacity: 0;
    }
  }

  @starting-style {
    dialog:open::backdrop {
      background-color: rgb(0 0 0 / 0%);
      backdrop-filter: none;
    }
  }

  /* layout
   * deprecated will be removed in v11.15.0
   */
  .layout-search {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    transition: 250ms ease-out;
    &[drawer-opened="true"] {
      grid-template-columns: 4% 24% 25% 48%;
    }
  }
  @media (max-width: 1350px) {
    .layout-search {
      grid-template-columns: 10% 40% 40% 10%;
      &[drawer-opened="true"] {
        grid-template-columns: 6% 24% 23% 47%;
      }
    }
  }
  @media (max-width: 920px) {
    .layout-search[drawer-opened="true"] {
      grid-template-columns: 8% 22% 23% 47%;
    }
  }
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  /* neural search passages */
  .matchlocations {
    font-weight: 700;
  }
  .w-inherit {
    width: inherit;
  }
}

@layer components {
  .tooltip {
    position: fixed;
    background-color: var(--tooltip, #182021);
    color: var(--tooltip-foreground, #f2f2f3);
    padding: 3px 6px;
    border-radius: 4px;
    font-family: Arial;
    font-size: 13px;
    pointer-events: none;
    z-index: 1000;
  }
}

/* drawer stack and drawer preview */
/* deprecated, will be removed in v11.15.0 */
DrawerPreview {
  /* removes the "important!" when the position: obsolute will be removed from the component */
  position: fixed !important;
  top: 0;
}
Drawer:has(+ Drawer) {
  transform: translateX(-5px);
}
Drawer:has(+ Drawer + Drawer) {
  transform: translateX(-8px);
}

/* Override to hide bootstrap spinner */
.spinner-grow {
  display: none !important;
}

/* allow multi-line text in the taost description */
[data-description] {
  white-space: pre-line;
}

.panel-h-full {
  --panel-max-height: 100%;
}

/* .active:not([disabled]) {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: var(--color-secondary);
} */

ul:has(card.selected) card:not(.selected) {
  opacity: 0.5;
}

/* safari fix */
summary::-webkit-details-marker {
  display: none;
}
