<ul class="flex flex-col">
  @for (search of recentSearches(); track $index) {
  <li
    class="flex gap-2 px-3 py-2 items-baseline rounded-md cursor-pointer hover:bg-blue-100 hover:text-blue-500 focus:bg-blue-100 focus:text-blue-500 focus:outline-none"
    tabindex="0" appFocusWithArrowKeys="y" (click)="recentSearchClicked(search)"
    (keydown.enter)="recentSearchClicked(search)">
    <i class="fa-fw far fa-clock-rotate-left"></i>

    <p>{{ search.label }}</p>

    @if ((search.filterCount ?? 0) > 0) {
    <p class="text-gray-500">
      <i class="fa-fw far fa-filter"></i>
      {{ search.filterCount }}

      @if (search.filterCount! > 1) {
      filters
      } @else {
      filter
      }
    </p>
    }

    <p class="text-gray-500 ms-auto">{{ search.date | relativeDate }}</p>
  </li>
  } @empty {
  <li class="text-center text-gray-500 py-4">No recent searches yet</li>
  }
</ul>