:host {
  --drawer-width: 46;
  --drawer-subdrawer-width: 400px;
  display: grid;
  position: absolute;
  height: 100%;
  top: 0;

  @apply justify-end -right-full;

  /* Makes drawer x% the size of the screen + space for subdrawer */
  width: calc(
    100vw / 100 * var(--drawer-width) + var(--drawer-subdrawer-width)
  );

  z-index: theme('zIndex.drawer');
  grid-template-columns: 0 1fr var(--drawer-subdrawer-width);

  transition: right 300ms ease-in-out, transform 300ms ease-in-out;

  &[drawer-opened="true"] {
    @apply -right-[var(--drawer-subdrawer-width)];

    box-shadow: var(--drawer-box-shadow);
  }

  &[drawer-extended="true"] {
    @apply w-screen right-0;

    grid-template-columns: 1fr calc(var(--drawer-width) * 1%) var(--drawer-subdrawer-width);

    box-shadow: unset;
  }
}