<form [formGroup]="form">
  <fieldset class="overflow-auto">
    <legend class="mb-1 flex h-8 w-full select-none items-center pl-1 text-sm font-semibold text-gray-600">
      <p class="me-4 grow">
        <i class="fa-fw {{ title().icon }}" aria-hidden="true"></i>
        {{ title().label | syslang | transloco }}
      </p>
      <div class="ms-4">
        @if (hasFilter()) {
          <button
            variant="ghost"
            size="icon"
            [attr.title]="'filters.clearFilters' | transloco"
            [attr.aria-label]="'filters.clearFilters' | transloco"
            (click)="clear()"
            (keydown.enter)="clear()">
            <i class="fa-fw far fa-filter-circle-xmark" aria-hidden="true"></i>
          </button>
        }

        @if (hasFilter()) {
          <button
            variant="ghost"
            size="icon"
            [attr.title]="'filters.applyFilters' | transloco"
            [attr.aria-label]="'filters.applyFilters' | transloco"
            (click)="apply()"
            (keydown.enter)="apply()">
            <i class="fa-fw far fa-filter" aria-hidden="true"></i>
          </button>
        }
      </div>
    </legend>

    <ul class="flex flex-col gap-1 pt-2" role="list">
      @for (option of dateOptions(); track $index) {
        <li
          role="listitem"
          [attr.aria-label]="option.display | syslang | transloco"
          tabindex="0"
          [class]="
            cn(
              'flex p-0 px-2 leading-7',
              form.get('option')?.value === option.display && 'bg-accent',
              option.hidden && 'hidden',
              option.disabled && 'disabled pointer-events-none text-neutral-300'
            )
          "
          [attr.aria-hidden]="option.disabled">
          <input
            #radio
            type="radio"
            formControlName="option"
            id="date-filter-{{ option.display }}"
            [attr.disabled]="option.disabled ? true : null"
            [attr.aria-disabled]="option.disabled"
            value="{{ option.display }}" />

          <span class="fa-fw radio me-1 cursor-pointer p-1" (click)="radio.click()" (keydown.enter)="radio.click()" tabindex="-1" aria-hidden="true"></span>

          <label for="date-filter-{{ option.display }}" class="grow cursor-pointer p-1">
            {{ option.display | syslang | transloco }}
          </label>
        </li>
      }

      @if (allowCustomRange) {
        <li role="listitem" aria-label="custom range" class="flex px-2 leading-7" [ngClass]="{ selected: form.get('option')?.value === 'custom-range' }">
          <input #radio type="radio" formControlName="option" id="date-filter-custom-range" value="custom-range" />

          <span class="fa-fw radio me-1 cursor-pointer p-1" tabindex="-1" (click)="radio.click()" (keydown.enter)="radio.click()" aria-hidden="true"></span>

          <div class="grid grow grid-cols-[4rem_auto] p-1 *:cursor-pointer" formGroupName="customRange" (click)="radio.click()">
            <label for="date-filter-custom-from">{{ 'from' | transloco }}</label>

            <input
              class="grow border-b border-neutral-400 bg-transparent text-neutral-600"
              type="date"
              id="date-filter-custom-from"
              #dateFilterCustomFrom
              formControlName="from"
              [max]="form.get('customRange.to')?.value ?? today" />

            <label for="date-filter-custom-to">{{ 'to' | transloco }}</label>

            <input
              class="border-b border-neutral-400 bg-transparent text-neutral-600"
              type="date"
              id="date-filter-custom-to"
              formControlName="to"
              [min]="form.get('customRange.from')?.value"
              [max]="today" />
          </div>
        </li>
      }
    </ul>
  </fieldset>
</form>
