@switch (spellingCorrectionMode) {
  @case ('DYMOnly') {
    Did you mean <button class="text-blue-500" (click)="selectCorrected()">{{correction}}</button>?
  }
  @case ('Correct') {
    Showing results for <button class="text-blue-500 font-bold" (click)="selectCorrected()">{{correction}}</button>. Search instead for <button class="text-blue-500" (click)="selectOriginal()">{{original}}</button>
  }
  @case ('Smart') {
    Showing results for <button class="text-blue-500" (click)="selectOriginal()">{{original}}</button> and <button class="text-blue-500 font-bold" (click)="selectCorrected()">{{correction}}</button>
  }
}